[2017-02-25 14:21] CodeNightWriter opened #4 "Error with new API-Version 8"
After generating a new auth token with VERSION 8 and calling list_devices.py I get the following error:
{
  "errorCode" : "CLIENT_VERSION_NOT_SUPPORTED"
}

Has anyone run this script successfully with the new Version?

[2017-02-25 20:25] coreGreenberet commented on #4
Works fine for me since revision 6d8032a0090ee5bf8fa3b765fac5c9a4135530e3

[2017-02-26 10:16] CodeNightWriter commented on #4
I've started completely new from scratch and now it works fine.
I couldn't find out what's wrong, but now I can start to extend the supported devices.

[2017-02-26 10:16] #4 closed

[2017-02-27 09:12] coreGreenberet opened #6 "implement get & update Profiles for heating groups"

[2017-02-27 21:43] coreGreenberet commented on #6
implemented in https://github.com/coreGreenberet/homematicip-rest-api/commit/5d7510f6cf8d8c25b3ea686cc25630e368dcddda

[2017-02-27 21:43] #6 closed

[2017-02-27 22:05] coreGreenberet opened #7 "implement createExtendedLinkedSwitchingGroup & depending functions"
Path: group/switching/linked/createExtendedLinkedSwitchingGroup
Post: `{ "label" : <LABEL> }`
Result:

[code]

Path: group/switching/linked/setGroupActuatorChannels
Post:
[code]

Result:
[code]

Path: group/switching/linked/setGroupSensorChannels
Post:
[code]
Result:
[code]

[2017-02-27 22:39] coreGreenberet opened #8 "implement setZonesDeviceAssignment"
Path: home/security/setZonesDeviceAssignment
Post:
[code]

Result:
None on success

[2017-03-04 12:34] CodeNightWriter opened #12 "How do you find out new functions?"

[2017-03-05 08:55] CodeNightWriter commented on #12
Can you explain wow you find them and with what tools? Have you only find POST methods or also websocket connections for realtime measurements. e.g. current power consumption

[2017-03-06 17:18] coreGreenberet commented on #12
I'm using an HTTPS Proxy sniffer(Charles=shareware, Fiddler 4=freeware) to read what the APP on Android does when I make specific actions.
The app is using 2 Connections: One via POST to read/write the configuration, the other one is a simple websocket connection for specific events(push notifications). To be honest I didn't look much into the websocket connection, but as far as i've seen it reall

[2017-03-13 20:50] #8 closed

[2017-03-30 06:36] sander76 commented on #12
@coreGreenberet Great work! I am going to take a shot at implementing it in HomeAssistant (https://home-assistant.io/) when I find some time.

But hooking into the above: How do you think the update process of sensor values etc is being done then if not with websockets ? Could it be long polling or something ?

[2017-05-17 21:03] uberbruns opened #14 "Auth.isRequestAcknowledged receives "INVALID_REQUEST""
Hi,

`generate_auth_token.py` did not work for me. It just repeated: "Please press the blue button on the access point" even though I pressed the button. So I added some print statements to `isRequestAcknowledged`.

This is what is send

[code]

and this is what I receive:

[code]

Is there anything I can do from here?

[2017-05-19 20:13] uberbruns commented on #14
Got it to work now. Was my mistake I entered the wrong PIN.

[2017-05-19 20:13] #14 closed

[2017-05-24 18:03] coreGreenberet commented on #12
It looks like I'm receiving the updates now also for some other devices and not only security, but yeah I thought It was over pulling.
So either I had problems while catching the traffic or they've implemented it later in the cloud (but I guess it was the first)

[2017-05-24 20:03] coreGreenberet opened #18 "implement "Event API" for changed devices/groups"
The API should also use the websocket connection to get updates on devices/groups/... as soon as they happen

[2017-05-28 13:31] coreGreenberet commented on #18
- [ ] CLIENT_ADDED
- [ ] CLIENT_REMOVED
- [ ] CLIENT_CHANGED
- [ ] DEVICE_ADDED
- [ ] DEVICE_REMOVED
- [X] DEVICE_CHANGED
- [ ] GROUP_ADDED
- [ ] GROUP_REMOVED
- [X] GROUP_CHANGED
- [X] HOME_CHANGED
- [ ] SECURITY_JOURNAL_CHANGED
- [ ] INCLUSION_REQUESTED
- [ ] NONE

[2017-05-30 21:38] coreGreenberet opened #20 "python api isn't working anymore since APIVersion 10"
The new APIVersion 10 uses a new "CLIENTAUTH" header. At the moment it looks like it would be the same for each device.

[2017-05-30 22:50] coreGreenberet commented on #20
CLIENTAUTH parameter is just a SHA512(APID + "jiLpVitHvWnIGD1yo7MA")

[2017-05-30 22:51] #20 closed

[2017-06-14 20:42] coreGreenberet opened #22 "Implement Switching_Group"

[2017-06-15 14:46] coreGreenberet opened #23 "Support Python 3 and 2"

[2017-06-15 15:14] #22 closed

[2017-06-15 17:17] coreGreenberet commented on #23
current implementation should compatible with python 3, but I haven't tested all functions yet

[2017-06-19 10:58] #12 closed

[2017-06-19 18:59] #23 closed

[2017-06-24 22:37] coreGreenberet opened #24 "add scripts to the pip setup"
homematicip_cli and generate_auth_token.py should be added to the pip installation

[2017-06-27 11:55] sander76 opened #25 "invalid authorization"
My first throw at this api is trying to get the `homematicip-cli.py` running.
I generate id and token. Put it in the config.py like so:

[code]
When I run the cli:
`homematicip-cli.py --list-devices` it returns with an error:

`2017-06-27 13:48:51,973 - homematicip.home - ERROR - Could not get the current configuration. Error: INVALID_AUTHORIZATION`

It seems to be happening with the method on lin

[2017-06-27 12:32] marcsowen commented on #25
Please use "generate_auth_token.py" for generating the AUTH_TOKEN. Also the the ACCESS_POINT id seems to be faulty. For reference, my ACCESS_POINT has 24 characters. My AUTH_TOKEN has 64 characters.

[2017-06-27 12:38] sander76 commented on #25
@marcsowen
I did use the generate_auth_token.py. I just didn't put the complete string in the example...
Also from my app I get a notification about a new device being added..

Note: I am running python 3.5.2.
Not sure if that could be causing the error ?

[2017-07-01 09:41] coreGreenberet commented on #25
I've just tried it again myself.  It's working fine.  Try to regenerate the auth token and use it again.

[2017-07-01 15:18] sander76 commented on #25
@coreGreenberet
Just retried. No luck.
Could it be the cli example is not correct ?

[2017-07-01 15:24] sander76 commented on #25
it fails at the following POST request:

addres: 'https://ps2.homematic.com:6969/hmip/home/getCurrentState'

BODY
[code]

response is 403.
text: b'{\n  "errorCode" : "INVALID_AUTHORIZATION"\n}'

[2017-07-02 08:12] sander76 commented on #25
@coreGreenberet
Just did some more tries. Also on a linux machine. Still the invalid_authorization error.
I am wondering what could be wrong.
I followed your online instructions. On generating the auth token a `homematic ip` device appears in my android app. So that seems to go allright. But on using the cli it returns the error.

What is a bit confusing though is the following:

The token generat

[2017-07-02 13:11] sander76 commented on #25
Crap !
Not the client id but the hub id should be put in the config.py folder. Sorry man....

[2017-07-02 13:11] #25 closed

[2017-07-03 17:00] coreGreenberet commented on #25
No Problem
I've changed the prints in the script. This should make it more clearer now =)

[2017-07-19 19:21] sander76 opened #26 "INVALID_REQUEST error."
Working with the `homematicip-cli` tool I now get an INVALID_REQUEST error right at the start of the run.
Error occurs at `get_current_state` in `home.py` .

I feel reluctant filing this one after https://github.com/coreGreenberet/homematicip-rest-api/issues/25 ,
but after double double checking I am sure they are unrelated...

[2017-07-19 19:29] sander76 commented on #26
Okay,
Seems I need to use the git repo. Not pypi..

[2017-07-19 19:29] #26 closed

[2017-07-20 06:47] sander76 opened #27 "json loading of websocket message throws an error."
In py3:

An incoming websocket message is being converted to json in `__ws_on_message` in `home.py`.
This throws an error as incoming is bytes. not str.

[code]

[2017-07-21 20:45] 00091701 opened #28 "Missing error message"
Hi,

I forgot that I configured a pin in our AP and I got no error message. I got only the loop with the message  "press the blue button". It would be very helpful if the error messages are on the screen.

Regards,
  David

[2017-07-21 21:09] 00091701 opened #29 "Unicode error with python3"
Hi,

if I use python3 I got this error:
[code]
https://stackoverflow.com/questions/6812031/how-to-make-unicode-string-with-python3

Best regards,
  David

[2017-07-21 21:30] 00091701 opened #30 "dump_devicevalues.py"
Hi,

in line 20 I got an error because in my version I must change from "d.open" to "d.windowState".

Best regards,
   David

[2017-07-22 19:01] coreGreenberet commented on #30
thanks =)

[2017-07-22 19:01] #30 closed

[2017-07-22 21:40] DavidHoffmann opened #32 "Exception because of the logging handler"
[code]

[2017-07-31 08:42] coreGreenberet commented on #32
thanks for the fix

[2017-07-31 08:42] #32 closed

[2017-08-13 18:02] sander76 opened #35 "asyncio implementation.."
I am wondering whether you have considered implementing an asyncio version, especially implementing the aiohttp request and websocket component ?

I did a fork and started doing it myself, just to realise this means practically rewriting the whole package.
But I'd still like to put effort in achieving this. Do you have any ideas or plans for a more integrated approach?
Again, I'd love to help.

Sa

[2017-08-23 18:04] coreGreenberet commented on #35
Actually not at the moment.
I've implemented the api mostly in python 2.7 (and started support for 3 a while later), because on many surveys you can see that the majority of python users are still using 2.7.
asyncio isn't working on 2.7 =(

[2017-08-23 18:09] sander76 commented on #35
I see.
I want to use your library for writing a plug-in for home assistant.
https://home-assistant.io

Can be threaded but prefers asyncio. It is python3 only though..

[2017-09-06 15:13] sander76 opened #36 "getting fiddler to work"
Trying to get fiddler to work, so I can help with this repo, but can't get fiddler to work. It gets stuck at trying to "login"... Any idea how to solve this ?

![image](https://user-images.githubusercontent.com/1688712/30119622-9e7f4cfc-9326-11e7-8aae-d5f66cf86c35.png)

[2017-09-09 18:35] mxworm commented on #35
Hi sander76,

I already started to implement a home assistant component.
-> https://github.com/mxworm/home-assistant-custom

[2017-09-11 08:50] sander76 commented on #35
@coreGreenberet
I played around with an async implementation of your library.
For a rough version look here:

https://github.com/sander76/homematicip-rest-api/tree/async

But the implementation is a lot of duplication of efforts as each method that does a restcall needs to be rewritten as an async one.
So the question now is how I should proceed and I'd like your opinion. There are basically two o

[2017-09-13 09:48] sander76 commented on #35
@coreGreenberet  Sorry for pushing you, but can you let me know what you think of my proposal ? I'd really like to get started...

[2017-09-21 18:12] sander76 commented on #35
@coreGreenberet Can you let me know what you think ? I really think your project is interesting and I'd like to put effort in it, but if you don't feel like it (like accepting pull requests and such) please let me know and I'll try and find another solution.

[2017-10-09 21:35] chbndrhnns opened #37 "Add dimmer support"
When I list my devices, I get the message:

[code]

Could you add support for a dimmer so that the lights can be dimmed?

[2017-10-17 16:33] coreGreenberet commented on #35
@sander76 sorry I was really busy with my work, so I didn't check Github in the last month.
I like Option 2, but I'm also thinking about dropping support for python 2.7 and continue with 3.
Therefore we won't have to implement everything 2 times.

[2017-10-17 16:37] coreGreenberet opened #38 "Vote: Drop Python 2.7 support?"
Hello,

I'm thinking of dropping the support for python 2.7 and just use 3.X in the future. I've started the project with 2.7, because of some online surveys most people are still using 2.7. 3.X on the other hand has some nice features on which the project could really benefit from and implementing everything twice (e.g. for asyncio in 3.X) or check the compatibility on both python versions is rea

[2017-10-18 07:47] sander76 commented on #35
@coreGreenberet 👍
Your current implementation would be a threaded one. I'd really like to do an async one too. So supporting both (which makes perfect sense to me) would require a slight architecture change so both can share as much code as possible.

My suggestion would be as described above where you create separate function calls to:

- the creation of body data which used to make the api call.

[2017-10-18 08:25] sander76 commented on #35
@coreGreenberet In addition to my previous post:

[code]

[2017-10-18 08:35] sander76 commented on #38
Django is now python3 only. So for me there is no question:
Python3 == Python
Python2 == Legacy Python and will be less supported as time passes.

So perfectly fine only supporting Python3

[2017-10-18 08:37] sander76 commented on #36
@coreGreenberet Do you need to keep this your secret or is this something you can share? ;-)
More in general: Is it possible to share how you got any sniffing tool to work ?
(I tried fiddler and pcap)

[2017-10-18 08:38] sander76 commented on #27
with the upcoming possible architecture change this is no longer relevant.

[2017-10-18 08:38] #27 closed

[2017-10-18 11:40] sander76 commented on #35
Are you still very busy the upcoming days/weeks? I'd like to spend time on this and do some pull requests, but then I like to know whether you are able to handle them...

[2017-10-18 14:39] jmara opened #39 "Unable to getAuthToken"
Hi,

I've tried to get a AuthToken for my homematicip but it keeps looping the https://lookup.homematic.com:48335/getHost call.

Using the `clientCharacteristics` json and doing a curl post on the terminal results in Response code 400 INVALID_REQUEST:
`curl -X POST -d "json={'clientCharacteristics': {'applicationVersion': '1.0', 'language': 'de_DE', 'osType': 'Darwin', 'deviceType': 'Computer', 'a

[2017-10-19 13:36] marcsowen commented on #38
From the official Ubuntu 17.10 release notes:

"Python 2 is no longer installed by default. Python 3 has been updated to 3.6."

Source: https://wiki.ubuntu.com/ArtfulAardvark/ReleaseNotes

I think this is another reason to switch to python 3.x.

[2017-10-22 13:52] sander76 commented on #39
Possibly ?

https://github.com/coreGreenberet/homematicip-rest-api/issues/26

[2017-10-22 16:43] coreGreenberet commented on #39
I'm not so familiar with curl, but the post data doesn't need to include "json=" maybe thats the error?

[2017-10-22 16:44] coreGreenberet commented on #38
okay than i Think it is settled...drop 2.7 and let us go back to the future!

[2017-10-22 16:44] #38 closed

[2017-10-22 17:18] coreGreenberet commented on #36
You have to make a so called "Men in the middle Attack".

1. Run fiddler/charles/....
1. export the root ca of the applicaiton and install it on your mobile phone. ( each application will generate it's own CA)
1.  Press the "Decode" button in fiddler
1. configure your computer as a proxy in the network settings from your mobile device
1. as soon as the traffic goes in you should see the decrypted

[2017-10-22 17:31] coreGreenberet commented on #35
just do them I will try to review them as quickly as possible.
and thanks for the help =)

[2017-10-22 17:34] sander76 commented on #35
@coreGreenberet Great! Thanks!

[2017-10-23 07:50] jmara commented on #39
I thought "json=" was the post-datafield but as I read the changelogs of the `requests` python module this option was introduced in 2.4.0 to post json data.

Unfortunatly my local requests library was older (2.3.0). I've removed the `pass` from the __init__.py code and printed the raised error (I first thought it was an INVALID_REQUEST response, due to my curl checks) which is raised if `requests

[2017-10-23 07:50] #39 closed

[2017-10-26 13:03] sander76 commented on #35
@coreGreenberet Can you create a branch where I can do pull requests ?

[2017-10-30 11:30] coreGreenberet commented on #35
done

[2017-11-04 08:00] sander76 opened #43 "Connection error"
I cannot connect anymore. Possibly the api has changed ?

Sander.

[2017-11-04 08:01] sander76 commented on #43
@coreGreenberet You notice this too?

[2017-11-04 10:25] #43 closed

[2017-11-09 09:06] gar00u opened #50 "Connection error with newest Version"
When using the newest API Version, I get an error on establishing the connection with error 403.

My host system is MacOS Version 10.13.

I recently installed python 3, Version 3.6.3

The required packages are installed in following Versions:
Name: requests, Version: 2.18.4
Name: websocket-client, Version: 0.44.0
Name: future, Version: 0.16.0

My config-file is the same I successfully used with th

[2017-11-09 09:55] gar00u commented on #50
Additional info: Using my Pi with Python 3.4 gives me the same messages.

[2017-11-09 16:55] coreGreenberet commented on #50
did you use the pip version or a clone of this repository?

[2017-11-09 18:15] gar00u commented on #50
a clone of the repo.

[2017-11-09 18:17] coreGreenberet commented on #50
It says invalid authorization. Try to recreate the access token

[2017-11-09 18:20] gar00u commented on #50
I will try that later this evening.

the actual token still works using the old version.

[2017-11-09 19:05] gar00u commented on #50
This didn't work out either. generate_auth_token.py gives me errors too.

[2017-11-09 20:50] #29 closed

[2017-11-09 20:55] coreGreenberet commented on #50
okay the generate_auth_token problem is fixed in e2f8d921e47dc6ee6afe60f0dfcf1af1d917fe25.
But I still have no Idea why your token isn't working in the new version :/
I'm still using the very first self generated token without any issues.

[2017-11-11 12:44] gar00u commented on #50
Tried this out today. And it worked.
After generating a new token, and copying it from cmd i saw what the problem was.

The SGTIN in my old config file was formatted like this:
ACCESS_POINT = 'xxxx-xxxx-xxxx-xxxx-xxxx-xxxx'.

generate_auth_token.py shows me SGTIN without the "-".

After changing this in the config file the new version works.

[2017-11-11 12:45] gar00u commented on #50
The old Version still supports SGTIN with "-". I think the code cropping the minusses from SGTIN is broken in the new Version.

[2017-11-12 10:26] coreGreenberet commented on #50
Strange that should still work :/
I will change it to a regex replace to remove all "bad" characters.  This should fix the problem. (Maybe you had the "long minus" sign instead of the short/normal one.)

[2017-11-13 11:36] gar00u commented on #50
See the comment in my merge request.

Haven't seen this the whole weekend...

[2017-11-13 14:02] #35 closed

[2017-11-15 17:29] #50 closed

[2017-11-16 09:55] sander76 opened #56 "Code line length"
Are we to adhere to PEP8 and keep the line length at a max of 79 characters ? My autoformatting keeps reformatting and suggesting commits ;-)

FYI:

https://www.python.org/dev/peps/pep-0008/#maximum-line-length

[2017-11-16 09:58] sander76 opened #57 "Change log messages"
Log messages are formatted using the `.format` method which is not advised.

See here for info.

http://reinout.vanrees.org/weblog/2015/06/05/logging-formatting.html

I feel we should change to that.

[2017-11-16 15:00] coreGreenberet commented on #56
actually I just wanted to "complain" about this in your last pull request...
I think pep8 is rather outdated with the line limit of 79 characters. At todays screens it isn't really necessary.

[2017-11-16 15:06] sander76 commented on #56
@coreGreenberet Other repo's I contribute to still adhere to the 79 line length pretty strictly. I prefer to do too. But you're the maintainer of this repo, so if you rather do not, I won't either.

Must admit it is pretty worn into my programming style now, so there will still be some 79 line lengths. I'll do my best...

[2017-11-16 15:06] #56 closed

[2017-11-16 17:56] coreGreenberet commented on #37
I don't have a dimmer myself, so I cant look at it myself.
could you please use the latest commit and give me the output from "python3 homematic_cli.py --dump-configuration"?
With that Information I would be able to implement it.

[2017-11-16 18:33] chbndrhnns commented on #37
[config.txt](https://github.com/coreGreenberet/homematicip-rest-api/files/1479732/config.txt)

👍

[2017-11-16 18:39] coreGreenberet commented on #37
thanks
I've removed the file so you don't expose all the data to the public

[2017-11-16 19:25] coreGreenberet commented on #37
@chbndrhnns it is added. also set_dim_level() should theoretically work. I couldn't test it.

[2017-11-16 20:06] coreGreenberet commented on #57
Looks fine for me :)

[2017-11-18 06:31] sander76 opened #59 "Move each device to a separate package ?"
With the amount of devices growing should we be putting each device in a separate package and put these in a separate devices module ?

[2017-11-18 06:56] coreGreenberet commented on #59
Don't java it :p
But we could do a device submodule and split them up by the base class

[2017-11-18 07:43] sander76 commented on #59
@coreGreenberet Never worked with Java, probably never will :-)

Assuming the file will keep growing I was thinking about it. On the other hand... How bad can it be?

[2017-11-23 22:15] #37 closed

[2017-11-23 22:15] #36 closed

[2017-11-30 07:05] coreGreenberet opened #68 "Add an "activate routing switch to the cli""
The cli needs a switch to de/activate the routing functionality on all devices which are supporting it

[2017-11-30 07:55] sander76 commented on #68
@coreGreenberet Just learning the hmip system. What do you mean by routing functionality ?

[2017-11-30 16:23] coreGreenberet commented on #68
Some device are working as a repeater the for the radio signal, but this is disabled by default. This allows us to reach devices which aren't directly reachable by the ap.
The hmip labels this feature as routing.

[2017-11-30 16:26] sander76 commented on #68
@coreGreenberet ah. Clear!

[2017-12-03 07:27] sander76 opened #69 "Move config file to json"
To move the `cli` tool inside the python package you should be able to refer to a config file located somewhere else on your computer.
It would make sense to:

- make config file a json file
- refer to the config file as a required argument when starting the `cli` tool

[2017-12-03 15:14] coreGreenberet commented on #69
I was thinking about that too already. But not with json. More like a "normal" config file.
I thought also about using default file locations if the parameter is empty
 Unix: /home/.. -> /etc/...
Windows: %appdata% -> %programdata%
I did only a quick lookup if there is a library which does that, but I found only an older one which isn't maintained anymore

[2017-12-04 09:11] sander76 commented on #69
@coreGreenberet
Doesn't really matter whether we use json/yaml/ini or anything.
For detecting home folder you could use:

https://docs.python.org/3/library/pathlib.html#pathlib.Path.home

[2017-12-05 08:53] sander76 commented on #69
@coreGreenberet btw. What do you mean by a "normal" config file ?

[2017-12-05 09:55] #59 closed

[2017-12-05 15:04] sander76 opened #71 "What is RSSI ?"
I saw this passing by in a pull request. I also see it as part of the json payload.
What does it mean ?

[2017-12-05 21:47] coreGreenberet commented on #71
Receive Signal Strength Indicator 

[2017-12-06 05:50] sander76 commented on #71
👍

[2017-12-06 05:50] #71 closed

[2017-12-10 19:22] kohlsalem opened #73 "'Home' object has no attribute 'init'"
Hi,

it feels like this is the absolute noob question; and indeed it is my first contact to python. Please excuse me, in case it is very dumb :-).

I tried to get the scripts running on a PI3 running recent openhabian.

` sudo python3 generate_auth_token.py
Please enter the accesspoint id (SGTIN): 3014-F711-A000-03D7-xxxx-xxxx
Please enter the PIN (leave Blank if there is none):
Please enter the c

[2017-12-11 07:31] sander76 commented on #73
@kohlsalem No excuses needed at all.
This library is work in progress. I guess you have installed this using `pip install homematicip` ?
The `generate_auth_token.py` file you've downloaded does not work anymore with that version. Our task is to release a proper new version as soon as possible.

I don't see why you are doing stuff with sudo etc. Also not sure what your exact use case is, but I woul

[2017-12-11 07:53] kohlsalem commented on #73
@sander76 , thanks for the fast reply. I forgot the line, but sure, i installed it via pip.

I sudo'ed everything, because googeling similar problems found permissions as a possible source of failure.

Thanks for the hint; I'm going to try the version pulled from git!

[2017-12-11 13:10] sander76 opened #74 "getting fiddler to work... almost there.."
I am making progress on my fiddler setup, but now I get stuck when trying to create a websocket connection..

I get a `504` error when trying to connect to `https://hmip1-1.homematic.com:8888`. The fiddler log reports

[code]

meaning there is no url provided. Does anyone have an idea how to bypass this ?

[2017-12-16 09:59] sander76 commented on #74
Turns out the above is an invalid url for fiddler. If you'd add a '/' to the end all works fine...

[2017-12-16 09:59] #74 closed

[2017-12-26 09:48] coreGreenberet opened #76 "Support multiple devices for the device switch in the cli"

[2017-12-26 09:49] coreGreenberet commented on #68
Should be done with case #76

[2017-12-26 09:49] #68 closed

[2018-01-10 19:35] bestgrafix opened #77 "error when running generate_auth_token.py"
Hi i cant run the python script get the following error, could somebody help:

before i did: $ sudo pip install homematicip

 python ./generate_auth_token.py

Traceback (most recent call last):
  File "./generate_auth_token.py", line 2, in <module>
    import homematicip.auth
  File "/home/pi/homematicip-rest-api/homematicip/auth.py", line 14
    def __init__(self,home:Home):

[2018-01-10 21:06] sander76 commented on #77
Don't use the pip version. Needs upgrading. Use the github repo. Good luck!

[2018-01-16 17:42] #76 closed

[2018-01-16 17:54] coreGreenberet commented on #69
an editable file for "normal" people. similiar to the config.py or most linux config or ini files

[2018-01-24 09:54] kuzco1 opened #79 "can not run: pip install homematicip"
Hello,
running debian 9, python 3.5.3 , python-pip 9.0.1-2, but when running:
pip install homematicip
I do get get:
Traceback (most recent call last):
  File "/usr/bin/pip", line 9, in <module>
    from pip import main
ImportError: No module named 'pip'

Any hint is welcome.

regards
kuzco1

[2018-01-24 09:56] kuzco1 commented on #77
What do you exactly mean ?

I do get
Traceback (most recent call last):
  File "./generate_auth_token.py", line 2, in <module>
    import homematicip.auth
  File "/home/cam/homematicip-rest-api/homematicip/auth.py", line 7, in <module>
    from homematicip.home import Home
  File "/home/cam/homematicip-rest-api/homematicip/home.py", line 12, in <module>
    import websocket
ImportError: No module

[2018-01-24 12:08] sander76 commented on #77
This is not really homematic related but you could try and do the following:

[code]

After this try and generate the auth token.

[2018-01-24 12:10] sander76 commented on #79
See the other issue you've commented on. Problem you are describing here is not really hmip related.

[2018-01-24 15:46] kuzco1 commented on #79
Thanks for the hint.
With the description (please see other issue) I was able to install and run this solution.

[2018-01-24 15:46] #79 closed

[2018-01-24 15:51] kuzco1 commented on #77
Many thanks. Working now.

[2018-01-25 10:18] kuzco1 commented on #77
Hello,
sorry, but I have to asked again (I am not a Linux guru).
I was able to "list may things", i.e. firmware, groups, etc..

After disconnecting my SSH session yesterday and reconnecting today; I have again an issue.
Going to hmip/homematicip-rest-api and running:
root@camserver:~/hmip/homematicip-rest-api# python ./homematicip_cli.py --list-firmware
Traceback (most recent call last):
  File ".

[2018-01-25 13:00] sander76 commented on #77
@kuzco1
do a `pip freeze` and see whether it says websocket somewhere (after you've activated the virtualenv)

[2018-01-29 10:25] sander76 opened #80 "catching individual button presses"
I have a HMIP-WRC2 device. I am trying to catch individual key presses of this device, but I am only getting a "DEVICE CHANGED" event which does not say which of two buttons are actually pressed.

Anyone any idea how to catch individual key presses of this device (did the same with the 8 button remote control without succes).

[2018-01-29 10:40] coreGreenberet commented on #80
I don't have the WRC2 device (or something similiar). Can you try to look at the json with the cli with the --dump-configuration parameter? Can you see if the buttons are pressed or not?

[2018-01-29 11:14] sander76 commented on #80
See below for the output (id's are fake). Always the "complete" device is reported. It shows nowhere which button is pressed. I'm starting to think it is not possible...

"""
{
    "id": "A0004F71193C99517FF30011",
    "homeId": "fake",
    "label": "Wall-mount Remote Control",
    "lastStatusUpdate": 1512478146235,
    "type": "PUSH_BUTTON",
    "functionalChannels": {
        "0": {

[2018-01-30 11:22] coreGreenberet commented on #80
I've also looked more into the HMIP App. There isn't any information in the object or calls to the rest api which makes it clearer which button is pressed.

The only option I can see at the moment is to use the key to change a PS/PSM/... and handle the event from there :/

[2018-01-31 21:40] bestgrafix opened #81 "control the heating element temperature ?"
Hi short questions is it possible to control the heating element temperature ?

My Homeatic IP Device
Homematic IP Heizkörperthermostat HMIP-eTRV/2 140280

tried
 python3 homematicip_cli.py --device ID  --set-display setpoint 20

but didnt worked, is it even possible ?

[2018-01-31 21:43] bestgrafix commented on #77
i found the problem, if you type python on raspbean it uses python2 but the script works only with python3 so  type python3 , things you need to know :)

and for installation
pip3 install homematicip

[2018-02-01 13:54] coreGreenberet commented on #81
--set-display setpoint will just change what should be displayed on the display of the HmIP-WTH/HmIP-WTH-2 which might be the current temperature, the temperature which it is configured or the current temperature & humidity

currently there is no option in the cli to set the room temperature. I will add this to the cli in the near future.

There is however a difference to your usage. The room temp

[2018-02-01 20:47] bestgrafix commented on #81
Thx for the info, but didnt worked :)
--list-groups gives me only something like
HEATING Arbeitszimmer windowOpenTemperature(10.0) setPointTemperature(23.0) windowState(CLOSED) motionDetected(30.0) sabotage(5.0) cooling(None) partyMode(False) controlMode(AUTOMATIC) actualTemperature(21.9)

python3 homematicip_cli.py --group Arbeitszimmer --set-point-temperature 20 gives me only a syntax error, tri

[2018-02-01 20:55] coreGreenberet commented on #81
read my post again:
"currently there is no option in the cli to set the room temperature. I will add this to the cli in the near future."
it should work like in your last line as soon as it is implemented

[2018-02-01 21:00] bestgrafix commented on #81
Ah ok i thought there where another possibility , looking forward to it :)

Using it already for Openhab2 , thanks for that script 👍

[2018-02-01 21:30] coreGreenberet commented on #81
try it now =)

[2018-02-01 21:36] #77 closed

[2018-02-01 21:38] bestgrafix commented on #81
Yes it worked, awesome, now i can build the complete heating control in openhab2 / pimatic :)

[2018-02-02 09:59] #81 closed

[2018-02-02 21:57] #80 closed

[2018-02-08 15:00] #28 closed

[2018-02-10 09:50] sander76 commented on #69
@coreGreenberet

How about this ?
https://docs.python.org/3/library/configparser.html

 No external dependencies required..

[2018-02-10 09:51] sander76 commented on #24
relates to this one:

https://github.com/coreGreenberet/homematicip-rest-api/issues/69

[2018-02-25 07:34] sander76 commented on #69
@coreGreenberet

Have a look here:
https://github.com/sander76/homematicip-rest-api/blob/load_config_file/homematicip_cli.py

I started moving the config file to an ini file, but run into the issue of log setting. You seem to be doing that in two places. Can you have a look and let me know what you prefer ? After that I can finish it...

[2018-02-26 16:53] coreGreenberet commented on #69
thanks! that looks already really nice.

for loading the config file location I would search for it on the drive. Something like this.
[code]

That way it will search for the file on the nearest location for the program. So if you are using more than one script with the same setting you won't have to specify the config file everytime.

1. The parameter you've specified
1. The current directory
1.

[2018-02-26 20:38] coreGreenberet commented on #69
Which issue?

[2018-02-26 20:40] sander76 commented on #69
@coreGreenberet

No issue, but I guess we need to create this config handling so a new release can be put on pypi...

[2018-03-02 19:58] coreGreenberet commented on #69
i've merged your changes in my local repository. I will try to publish a functional version tomorrow

[2018-03-02 23:14] coreGreenberet commented on #69
this should be working now with fe060c7

[2018-03-03 20:12] sander76 commented on #69
@coreGreenBeret cool!

[2018-03-06 10:07] phanlipo opened #85 "Add class for ROOM_CONTROL_DEVICE"
I've added [this](https://www.wesmartify.de/shop/heizungssysteme/heizkoerperradiator/17/raumbediengeraet-display?c=44) room control device.

Afterwards I get the error

`There is no class for ROOM_CONTROL_DEVICE yet`

Can you implement this device?

Thank you in advance!

[2018-03-07 10:17] coreGreenberet commented on #85
could you please run' ./homematicip_cli.py --dump-configuration' and post the result here?

[2018-03-07 10:52] phanlipo commented on #85
Yes, of course. I've changed only some personal data. If there is more information necessary, please do not hesitate to ask me.

[GitHub.log](https://github.com/coreGreenberet/homematicip-rest-api/files/1788835/GitHub.log)

[2018-03-09 12:39] sander76 commented on #85
Seems like it is not a "standard" home matic device is it ?

[2018-03-09 13:51] phanlipo commented on #85
You mean because of the brand "wesmartify"? I think Möhlenhoff is the OEM behind these Smart Home devices and uses the Homematic IP standard from eQ-3.

[See also](https://www.moehlenhoff.de/index.php?option=com_content&view=article&id=150:eq3-moehlenhoff&catid=16:news&Itemid=36&lang=en)

[2018-03-10 13:09] coreGreenberet commented on #85
should be working now. can you try it with the latest version from github?

[2018-03-11 09:09] phanlipo commented on #85
Yes, it works now.

[code]

P.S.: I was a bit confused of some DEBUG messages of urllib3, but it is connected with the default Logging Level of 10 (DEBUG). https://docs.python.org/2/library/logging.html#logging-levels

[2018-03-11 13:45] #85 closed

[2018-03-11 13:46] #69 closed

[2018-03-21 20:58] mxworm opened #86 "Home-Assistant support"
Hi,

I started to add support for HomematicIP to HomeAssistant based on your library.
https://github.com/home-assistant/home-assistant/pull/12761
I plan to add support for a few more devices which I own in the next days.
Are you going to release a new version of all the changes and new devices you have added soon?

Ciao Mattias

[2018-03-21 21:31] sander76 commented on #86
Hi Mattias,

I just posted a comment on your pull request.
Can you have a look?

https://github.com/home-assistant/home-assistant/pull/12761

[2018-03-21 22:00] coreGreenberet commented on #86
Actually yes.  I want to add the scripts to the pip setup. As soon as this is working I will create a new tag

[2018-03-23 18:10] coreGreenberet commented on #24
this should be implemented now 15b529a97afffd19a76d61ced4dd8cd0f363ce48

[2018-03-23 18:30] sander76 commented on #24
@coreGreenberet
Great!
You can try if it works by creating an venv and 'python setup.py install' it and see if it works. You might need to move the script inside the package, but I am not sure.

[2018-03-23 22:12] #24 closed

[2018-03-23 22:14] coreGreenberet commented on #86
try it 0.9 is out =)

[2018-03-28 10:49] #86 closed

[2018-04-15 17:03] mxworm opened #89 "BrandSwitchMeasuring"
Hi,

can you please have a look on the BrandSwitchMeasuring, seems it is implemented but I get:
**There is no class for BRAND_SWITCH_MEASURING yet**

Thanks Mattias

[2018-04-15 17:26] sander76 commented on #89
@mxworm using async?

[2018-04-15 19:48] mxworm commented on #89
Yes, but also with the not-async version as I remember.

[2018-04-16 11:35] coreGreenberet commented on #89
at the moment it's not in the async version, but it should work with the "normal" one.
Could you please verify that? (just run hmip_cli.py --list-devices)

[2018-04-16 18:32] sander76 commented on #89
It should be in the threaded version.
For async just created a new pr

https://github.com/coreGreenberet/homematicip-rest-api/pull/90/files

[2018-04-16 20:06] mxworm commented on #89
Your right its missing in the the threaded version.

[2018-04-17 11:43] coreGreenberet commented on #89
PR is merged, so try it with a git pull =)

[2018-04-19 11:09] coreGreenberet commented on #89
should also work with the latest pip version =)

[2018-04-20 12:46] #57 closed

[2018-04-23 11:38] coreGreenberet opened #92 "hmip_cli.py --anonymize"
There should be an optional parameter for --dump-configuration to anonymize the data.
This will provide a secure way to publish the config for contributors for implementing new devices

[2018-04-23 22:01] #92 closed

[2018-05-04 06:24] sander76 opened #95 "Testcases"
Read your request and I thought to make an issue out of it. Good place to discuss this I guess.

[2018-05-04 06:27] coreGreenberet commented on #95
That might work too^^

[2018-05-04 06:29] sander76 commented on #95
Right now my test server is a bit messy. And can use some cleanup, so digging through it can be hard I guess.
The other thing is my testserver is async. The benefit here is that it fairly easy to setup for testing. See the discussion here:

https://stackoverflow.com/questions/47224765/pytest-testing-of-a-websocket-connection

So if you'd want to use it for your cases you'd need a threaded version

[2018-05-04 06:47] coreGreenberet commented on #95
Does it really matter if the server itself is threaded it not? Even when it is on localhost the session goes over tcp. The client doesn't know the "backend" of the server, so it shouldn't really matter.

The FakeResolver must be implemented differently here for the requests I guess.

[2018-05-04 08:31] coreGreenberet commented on #95
That makes sense =D
Sounds like a Plan^^

[2018-05-07 16:03] coreGreenberet opened #96 "Websocket: json.loads - the JSON object must be str, not 'bytes'"
json.loads doesn't support bytes before python 3.6.

[2018-05-07 16:07] #96 closed

[2018-05-13 09:05] margusveer opened #98 "can't generat auth token"
Hi!
Can someone help me in this point ?

I installed clean hassabian with home assistant 0.69.1 and upgraded and updated today homematicip as well but all same.

pi@hassbian:~/.local/bin $ python3 hmip_generate_auth_token.py
[code]

actually whatever I put in SGTIN id - (in xxxx-xxxx-xxxx-xxxx-xxxx-xxxx format) the answer is alway the same.

[2018-05-13 09:41] margusveer commented on #98
I do not know exactly what I'm doing, I'm really green with linux and this stuff, but I made ( because this not exciting)  bash_profile file and run's source
then
[code]
then in stackoverflow I find that maybe it's must be in ~/.bashrc
and then some warning:
[code]

but after that I run again

and I get my token  - now I try to get it work ;)

[2018-05-13 09:57] #98 closed

[2018-05-13 09:57] margusveer commented on #98
yess my devices is appeared on Home Assistant UI ;) - now I try how it's works

[2018-05-25 10:32] coreGreenberet commented on #95
@sander76
I've started with the implementation via a WSGI Server which runs on a different thread
Could you try to use it the async implementation?

[2018-05-25 12:23] sander76 commented on #95
@coreGreenberet
I will. But currently I lack time working on it unfortunately..

[2018-05-26 09:16] coreGreenberet commented on #95
No worries:) I'm thankful for any help.

[2018-06-01 12:14] mxworm opened #101 "Events broken"
Hi, somehow device updates have been broken between the last release and the current dev.
Mainly in home.py the following fix has broken my updates in home-assistant:
[code]

I use  self._device.on_update(self._device_changed) but I don't have a dedicated home.get_current_state() in the called _device_changed function.

Bug or feature?

[2018-06-01 12:55] coreGreenberet commented on #101
in this case...probably a bug
I guess moving this to get_current_state might be a better place

[2018-06-01 14:59] coreGreenberet commented on #101
@mxworm could you try it with commit 6356ab4458a1cf97c1b7cb6534d44d6fd1439dd6

[2018-06-01 18:35] mxworm commented on #101
Hi, now I got stopped by
[code]

[2018-06-01 19:47] coreGreenberet commented on #101
please try again

[2018-06-01 20:55] mxworm commented on #101
Now it works fine again, thanks!

[2018-06-02 05:39] #101 closed

[2018-06-06 19:43] mxworm opened #103 "Async auth token generation functions"
Hi @coreGreenberet and @sander76, I started to implement the config flow of HomeAssistent. This helps users to generate the auth token directly with the web gui.
I would need your help with the async implementation of the functions to generate the auth token.

[2018-06-07 11:00] sander76 commented on #103
@mxworm

So that would mean an async implementation of the following file ?

https://github.com/coreGreenberet/homematicip-rest-api/blob/master/hmip_generate_auth_token.py

[2018-06-07 11:03] mxworm commented on #103
@sander76 Mainly yes, but the bigger problem (at least for me) is the auth.py module.

[2018-06-07 11:08] mxworm commented on #103
The code from hmip_generate_auth_token.py would go into the HomeAssistant config_flow module of homematicip_cloud.

[2018-06-07 11:14] sander76 commented on #103
@mxworm I am not familiar with the config flow module. Does it require async ?

[2018-06-07 11:29] mxworm commented on #103
@sander76 Its an async state machine which guides the user through the different steps e.g enter ID -> press the button on the device and so on.
But your right at least for the moment I could use the threaded version as well, I will try....

[2018-06-07 12:06] sander76 commented on #103
@mxworm can you point me to your repo so I can have a look?

[2018-06-07 15:31] mxworm commented on #103
@sander76
So far it's working, but it's threaded code without error catching inside async stuff :-|
https://github.com/mxworm/home-assistant/tree/add-homematicip_cloud-config_flow

[2018-06-08 10:35] sander76 commented on #103
@mxworm It seems to me the config flow does only work with async methods.
Blocking calls (like the init methods used in HomeMaticIP) are not allowed there. So your solution might work, but will most likely break the system in the end.

Are you familiar with discord ? You can go to the developers channel there and ask for some more info on whether my assumptions are indeed correct and how you shoul

[2018-06-08 12:49] mxworm commented on #103
@sander76 I think we should move to a async implementation :-)
an I started already https://github.com/mxworm/homematicip-rest-api/tree/add-async-auth

[2018-06-08 12:49] #103 closed

[2018-06-09 12:35] coreGreenberet commented on #95
I've created a new branch.
https://github.com/coreGreenberet/homematicip-rest-api/tree/async_test_cases

the async_home_fixture will use the same webserver in the background as the single threaded version, but the fixture isn't working at the moment. It won't update the lookup_url correctly

[2018-06-09 18:28] mxworm opened #105 "async in the import path"
Hi @sander76 ,

The word `async` in the import path e.g. `from homematicip.async.auth import AsyncAuth` seems to work fine if import is global at the begin of a file. But its not working if the import is in a function!

[2018-06-09 19:44] mxworm commented on #105
Maybe @sander76 has a answer, I not a python expert at all :-)

[2018-06-10 05:25] sander76 opened #106 "Rename the async package."
Async becomes a protected keyword when 3.7 is released.

[2018-06-10 05:53] coreGreenberet commented on #106
But how should the package be named? async_?

[2018-06-10 05:57] sander76 commented on #106
@coreGreenberet I was thinking of `aio`.
That is a much used word for packages using asyncio.

[2018-06-10 06:00] mxworm commented on #106
@sander76

[code]

I copied to `asyncc` : -) and the issue is gone.

[2018-06-10 06:02] sander76 commented on #106
@mxworm @coreGreenberet Then it seems the `async` keyword already makes things break. I thought we had some time till 3.7 was released..

[2018-06-10 07:09] mxworm commented on #106
If you import at the beginning of the file yes, but inside a function not :-)

Vote: aio

[2018-06-10 10:01] coreGreenberet commented on #105
I'm closing this one as we are discussion the root problem in #106

[2018-06-10 10:01] #105 closed

[2018-06-10 10:03] coreGreenberet commented on #106
Let's settle it with aio.
Should we rename the classes to? E.g AsyncHome to AIOHome?

[2018-06-10 10:14] mxworm commented on #106
I would keep them.

[2018-06-10 10:48] sander76 commented on #106
@coreGreenberet @mxworm Lets keep the class names intact.
Only rename the package.

[2018-06-11 11:42] coreGreenberet commented on #106
@mxworm @sander76
I've merged the PR #107 and modified the missing settings.
could you please verify that everything is working on your end with the current head?

If yes I will tag it to create a new release

[2018-06-11 19:57] mxworm commented on #106
Works perfekt! Thanks!

[2018-06-12 07:22] coreGreenberet commented on #106
thanks =)
I've also tagged a new version

[2018-06-12 07:22] #106 closed

[2018-06-29 07:40] coreGreenberet commented on #95
@sander76 @mxworm
could you please help me with https://github.com/coreGreenberet/homematicip-rest-api/blob/master/tests/aio_tests/test_async_auth.py

These tests are always failing and I don't really get why. The "request" version is working fine.

[2018-07-02 12:45] mxworm commented on #95
Hi, I think connectionRequest gives you only a status e.g. throwes exception and has no real return value.

[2018-07-04 13:56] sander76 commented on #95
Not sure. Does the async version even work ?
I mean, I see an init method implement not present in the non-sync version.

[2018-07-04 20:09] mxworm commented on #95
Hi, yes async auth is working. I use it for the "Integrations flow" in homeassistent, now users can directly generate there authtoken in the GUI :-)
https://github.com/home-assistant/home-assistant/pull/14861

[2018-07-05 10:35] sander76 commented on #95
@coreGreenberet @mxworm To be honest: I don't know where to start solving this. I have major issues with even trying to start these tests. They all exit with path errors etc etc.
One thing I'd like to discuss is whether "rebuilding" a cloud server for testing purposes is the way to go?
If Eq3 decides to change stuff you need to redesign the complete server.
I feel we should mock out responses and

[2018-07-05 16:04] coreGreenberet commented on #95
thats strange :/ maybe you could look it up how I'm doing the test cases with circleci? if you are using the same commands it should work.

Well I would like to stick with the Fake Server. The reason is that you can't fully test all cases (e.g. all the "set" functions) via Mock.
If Eq3 tries to change the API, than we would have to change it in all classes too. With a "complete" server it will be

[2018-07-05 18:54] sander76 commented on #95
@coreGreenberet I always struggle what and how to test and what not. I guess it is more a matter of preference.
But the amount of work you have put into making a fake server is impressive! Still I am a bit in doubt whether this is the best way to go and if I google on "testing external API's" you always run into mocking out requests... (Need to add though that my testing skills are only just avera

[2018-07-06 21:08] coreGreenberet opened #113 "functionalHomes are missing"
The home class doesn't have any "functionalHomes" implemented yet.

[2018-07-08 14:39] coreGreenberet opened #114 "Config Examples"
Hey guys,

could you please post here your configurations? I don't own every component and it would really help me with implementing more actors.

just run `hmip_cli.py --dump-configuration --anonymize`

Please post your configuration on https://gist.github.com and share the link.

Thanks =)

[2018-07-15 17:20] chemstar opened #117 "ValueError: None is not a valid WindowState"
Hi,

when calling hmip_cli.py --list-devices i'm getting following error for my devices:

`Traceback (most recent call last):
  File "hmip_cli.py", line 466, in <module>
    main()
  File "hmip_cli.py", line 186, in main
    if not home.get_current_state():
  File "/home/pi/devel/homematic/homematicip-rest-api/homematicip/home.py", line 208, in get_current_state
    self._get_devices(json_state)

[2018-07-15 17:43] chemstar commented on #117
The next error occurs after update. Don'h have a config.py file inside the directory.

Traceback (most recent call last):
  File "hmip_cli.py", line 466, in <module>
    main()
  File "hmip_cli.py", line 146, in main
    convert_config2ini()
  File "hmip_cli.py", line 31, in convert_config2ini
    import config
  File "/usr/local/lib/python3.7/site-packages/config.py", line 733
    except Exceptio

[2018-07-16 16:09] #117 closed

[2018-09-24 17:33] chbndrhnns commented on #114
[code]

[2018-10-20 11:27] #95 closed

[2018-11-02 00:04] chbndrhnns opened #122 "Ping fails if socket_connection is None"
I am using the HMIP component in [homeassistant](https://home-assistant.io). It permanently logs errors regarding [this line](https://github.com/coreGreenberet/homematicip-rest-api/blob/897229f5bd2622c8cbded0e39892f40a789554a7/homematicip/aio/connection.py#L130).

Is there maybe a check necessary that `socket_connection` is not None before trying to ping?

The error message goes like that:

[code]

[2018-11-06 23:10] coreGreenberet commented on #122
might be a workaround but I don't think that this is the problem.

When does the error occur?

Are you closing the connection in homeassistant?

[2018-11-07 10:30] sander76 commented on #122
A NoneType check is not necessary. The exception is caught [here](https://github.com/coreGreenberet/homematicip-rest-api/blob/897229f5bd2622c8cbded0e39892f40a789554a7/homematicip/aio/connection.py#L140)

I am using hass too, but don't see this error. Could there be any other info in the log that might be useful?

You are using the "official" `homematic-cloud` plugin provided by hass ?

[2018-11-07 10:43] sander76 commented on #122
Let's close this one and continue [here](https://github.com/home-assistant/home-assistant/issues/18017)

[2018-11-09 22:45] chbndrhnns commented on #122
Hi there,
since homeassistant 0.81.4, I do no longer see these kind of errors. I am quite sure nothing changed configuration-wise on my side. Despite the error, the HMIP integration was working absolutely fine, though.
I could just re-open the issue if I notice the errors again.
Thanks!

[2018-11-09 22:45] #122 closed

[2018-11-17 14:28] chbndrhnns opened #123 "HMIP-PSM: Reset power consumption counter"
The HMIP app contains a feature to reset the sum counter for the power consumption. Is it possible to integrate this into the REST API client, as well?

[2018-11-17 15:13] chbndrhnns opened #124 "HMIP-PSM: Report voltage and current"
According to the [HMIP docs, section 67.3.7](https://www.eq-3.de/Downloads/eq3/download bereich/hm_web_ui_doku/HmIP_Device_Documentation.pdf), the device also reports voltage and current. Is it possible to add these values to the API?

[2018-11-18 14:28] Superwutz opened #126 "Documentation"
Hi there,

is there any documentation regarding all the different functions, variables and reading?

I am currently trying to read and control my HMIP-WTH-2, HMIP-PSM and HMIP-FAL230-C6 but have no idea how to do anything more than turning the switch on / off ..

[2018-11-18 15:46] coreGreenberet commented on #124
Sadly no =(
the cloud provides us only the currentPowerConsumtion(W) and the energyCounter (kWh). Since the API is talking directly with the cloud we won't get access to these kind of information until the cloud will provide it to us.

[2018-11-18 15:46] #124 closed

[2018-11-18 16:38] coreGreenberet commented on #123
added in 7ed430b24631f7aa20d800165771560c0dc46a2f

[2018-11-18 16:38] #123 closed

[2018-11-18 16:40] coreGreenberet commented on #126
sadly not yet =(
the best option would probably be to just look into the code of the device.py

[2018-11-27 19:55] NorthyIE opened #127 "hmip_generate_auth_token.py not working"
Hi,
I am trying to authenticate a SilverCrest branded HMIP Access Point, but I get an error trying to generate an access key.
I installed the API by running "pip3 install homematicip" on an up-to-date debian stretch.

When I run "python3 /usr/local/bin/hmip_generate_auth_token.py" I get the following output below.
Any suggestions on what could be wrong?

[code]

[2018-11-27 21:35] NorthyIE commented on #127
I found the issue, there was a webfilter used on our wifi, blocking traffic to port 6969 (labeled as Bittorrent traffic in the filter). Disabling this fixed the error!

[2018-11-27 21:35] #127 closed

[2018-11-28 10:58] anrada73 opened #128 "IoBroket"
Hallo, darf ich dein Code nehmen um einen iobroker Adapter zu machen?

[2018-11-28 11:18] coreGreenberet commented on #128
ja sicher, aber integrier bitte den code nicht direkt sondern importiere ihn ganz normal über pip.

[2018-11-30 18:33] medlocus opened #129 "Missing locale leads to Invalid Request"
homematicip-rest-api/homematicip/base/base_connection.py line 44:

`"language":` `locale.getdefaultlocale()[0]`

if this returns null, the request will return with an INVALID_ERROR while trying to retrieve the configuration. I noticed this on a raspberry pi running Arch Linux with kernel 4.14.84-1-ARCH and python3.7.1. For testing purposes I changed it to `"en_US"` ->  requests work fine.

[2018-12-09 12:12] Obicom opened #131 "Missing components HmIP-FSM & HmIP-FDT"
Hello, would it be possible to add the components HmIP-FSM and HmIP-FDT in one of next versions? I use this components in most of my room and missing the chance to configure or show in Home Assistant. It would be grat if you could take the time to evaluate. To motivate you a little bit ;) I would donate a box of beer when done :)

Error MSG: There is no class for FULL_FLUSH_DIMMER yet

[2018-12-09 18:07] Obicom commented on #114
Hi coreGreenberet,

first of all thank you very much for your quick response. I really want to help but I am more or less a noob with HA and scripting. I tried to type it in with Putty console and Hassio console on the Raspberry .. but get every time "Command not found". Could you be so kind to explain a little bit more in detail how I can produce the requested output from the script? I can start

[2018-12-09 19:59] ScooterisT5 opened #133 "Missing HMIP Components"
Hello,
i would add a few other missing components:
HmIP-SBI - PRESENCE_DETECTOR_INDOOR
HmIP-WRC6 - PUSH_BUTTON_6
HmIP-RC8 - REMOTE_CONTROL_8
HmIP-KRC4 - KEY_REMOTE_CONTROL_4
HmIP-BROLL - SHUTTER_PROFILE
these show up in the home-assistant.log, with missing classes
HmIP-BSM doesn't shows up at all
HmIP-FSM doesn't shows up at all
HmIP-SRH doesn't show if it is tilt

i don`t have developer skills, b

[2018-12-10 12:03] coreGreenberet commented on #131
I guess you have to install the library on the system itself.
Just follow the "Installation" & "Usage" guide in the readme. After that you should be abl to run the command

[2018-12-10 12:06] coreGreenberet commented on #133
Please send me an (anonymized) configuration -> https://github.com/coreGreenberet/homematicip-rest-api/issues/114
Since you are using home-assistant you might have to install the library itself on the computer and generate a new token.
Just follor the "Installation" & "Usage" sections of the readme.

[2018-12-10 12:24] homeassistant18 commented on #133
Ich bin begeistert, dass HomeAssistant zusammen mit Homematic Ip AccessPoint funktioniert. Das Problem ist, dass ich ein Image von HomeAssistant genommen hab und da das System schon auf HASSIO läuft. Der Befehl hmip_cli.py --dump-configuration --anonymize zeigt mir nichts an und ich bekomme einen Fehler. Ich hab fast alle Homematic IP Geräte im Haus eingebaut und bei mir fehlen auch einige. Wenn S

[2018-12-10 14:01] homeassistant18 commented on #131
login as: root
root@192.168.0.28's password:

  _    _                 _
 | |  | |               (_)
 | |__| | __ _ ___ ___   _  ___
 |  __  |/ _` / __/ __| | |/ _ \
 | |  | | (_| \__ \__ \_| | (_) |
 |_|  |_|\__,_|___/___(_)_|\___/

Our Cli:
$ hassio help

debug1: permanently_set_uid: 0/0
core-ssh:~# cd /config
core-ssh:/config# ls
alexa_media.pickle           homematicip-rest-api-master
automati

[2018-12-10 16:55] Obicom commented on #131
I do not know if we can talk German therefore I stay with English ... same in my case ... I am not able to follow the Instruction. I gues a lot is missing in hass.io installation on Raspberry Pi. No "pip3", no "apt install", no "apt-get install" is working. Every time "Command not found". I guess we need first to install python3-pip and afterwards the rest but to be honest ... I am a Linux noob an

[2018-12-10 17:08] sander76 commented on #131
@Obicom no need to do a manual install. Just use the hass homematic-cloud component. The reason some components don't work is because they're not implemented yet in the component.

[2018-12-10 17:42] sander76 commented on #131
@Obicom you're correct I didn't read from the start...  but you should not do that hass.io. Do this on a local pc with a separate key.

[2018-12-10 17:56] anrada73 commented on #131
Hello, i can open the script on my computer and give the file. The question is how HASSIO will continue updating the homematic ip adapter?

[2018-12-10 17:59] sander76 commented on #131
I wish it was that easy.
Step 1 is getting the component in this library.
Step 2 is to implement the component in hass. I or @mxworm normally would do that. But currently I'm a bit short on time..

[2018-12-10 18:21] anrada73 commented on #131
I would be very thankful if you could do that and a lot of users of the Homematic IP Tipps@Tricks Facebook group (ca.4000) are waiting for the update. If it is okay for you, I will try to post this file today. I have built in almost all devices in my house.
https://www.facebook.com/groups/HomematicIP/

[2018-12-10 18:50] coreGreenberet commented on #131
@sander76 or @mxworm maybe you could implement the hmip_cli.py --dump-configuration [-anonymize] into HASS.IO? I guess that would be the easiest way for non developers to provide us the information we need here

[2018-12-10 19:30] ScooterisT5 commented on #133
i am very sorry, but i don't know how to run hmip_cli.py --dump-configuration --anonymize
and i cant find a readme about.
Can you please explain, what i need to do. Step-by-step.
so i can provide requested config

[2018-12-10 19:57] Obicom commented on #131
@coreGreenberet, @sander76 & mxworm  it would be great and very helpful to get a "noob" way to extract the needed information ... I (we) ask for your kind support.

[2018-12-10 22:23] anrada73 commented on #131
{
    "clients": {
        "00000000-0000-0000-0000-000000000000": {
            "clientType": "APP",
            "homeId": "00000000-0000-0000-0000-000000000001",
            "id": "00000000-0000-0000-0000-000000000000",
            "label": "SM-G935F"
        },
        "00000000-0000-0000-0000-000000000002": {
            "clientType": "APP",
            "homeId": "00000000-0000-0000-0000-00000

[2018-12-10 22:31] anrada73 commented on #131
TXT file: https://drive.google.com/open?id=1Hiw8Q66ESBic0GDl4NhbAQWR7wru9d7Sy3rpTFEpUac

[2018-12-10 23:06] anrada73 commented on #131
c:\hmip>python hmip_cli.py --list-devices
2018-12-11 00:04:44,970 - homematicip.home - WARNING - There is no class for OPEN_COLLECTOR_8_MODULE yet
2018-12-11 00:04:44,974 - homematicip.home - WARNING - There is no class for OPEN_COLLECTOR_8_MODULE yet
2018-12-11 00:04:44,975 - homematicip.home - WARNING - There is no class for PUSH_BUTTON_6 yet
2018-12-11 00:04:44,976 - homematicip.home - WARNING

[2018-12-10 23:15] anrada73 commented on #131
i hope this help

[2018-12-11 11:55] Obicom commented on #131
Dear @anrada73 could you be so kind to explain in deatail how you archieved that on a Windows machine? It's a great job but I would like to do the same to show coreGreenberet the outcome for my missing components HmIP-FSM & HmIP-FDT.

[2018-12-11 12:04] anrada73 commented on #131
Teamviewer, Deutsch? dann FB Messenger https://www.facebook.com/and.huebner oder direkt in die Gruppe https://www.facebook.com/groups/HomematicIP/  und zuerst das installieren https://www.python.org/downloads/ und das https://github.com/coreGreenberet/homematicip-rest-api/archive/master.zip  downloaden und entpacken in z.B C:\

[2018-12-11 12:22] Obicom commented on #131
Hallo Andreas, gut zu wissen das du es bist ;) dann weiß ich wen ich ansprechen kann ... bin ja bei dir in der FB Gruppe. Das wird helfen :) Wir haben die tage dort ja schon öfters geschrieben (Dirk O.)

[2018-12-11 16:05] Obicom commented on #114
{
    "clients": {
        "00000000-0000-0000-0000-000000000000": {
            "c2cServiceIdentifier": "hmip_alexa_skill",
            "clientType": "C2C",
            "homeId": "00000000-0000-0000-0000-000000000001",
            "id": "00000000-0000-0000-0000-000000000000",
            "label": "Amazon Alexa Client"
        },
        "00000000-0000-0000-0000-000000000002": {
            "clien

[2018-12-11 16:09] Obicom commented on #131
@coreGreenberet I was successful with the help from @anrada73 (very happy)
You can find the output in your recommended thread #114
Both missing components are in the output file.

Please, please take the time to take a look and hopefully you can implement this components. Don#T forget to send me you paypal account that I am able to donate a box of beer for you ;)

[2018-12-11 16:21] anrada73 commented on #114
von mir noch
txt file: https://drive.google.com/open?id=1Hiw8Q66ESBic0GDl4NhbAQWR7wru9d7Sy3rpTFEpUac

[2018-12-11 20:08] coreGreenberet commented on #131
HmIP-FDT is implemented in the new branch https://github.com/coreGreenberet/homematicip-rest-api/tree/implementing_devices_131_and_133. I will merge it with the base branch as soon as the devices from #133 are implemented
HmIP-FSM is already implemented since 30.04.2018

@Obicom donations are always welcome =) paypal.me/coreGreenberet

[2018-12-11 20:43] ScooterisT5 commented on #131
@Obicom & @anrada73: Habt Ihr eine Idee, wie man die Version von coreGreenberet aktiviert ?
In der Liste stehen ja schon diverse Geräte, z.B. der HmIP-BROLL, den ich sehr vermisse, als umgesetzt.

[2018-12-11 20:46] Obicom commented on #131
Hi @coreGreenberet if HmIP-FSM is already implemented why Hassio don't discover my switches?  I have 3xFDT and 1xFSM and all of them not dicovered as an entity. In wich time or with wich version we can expect that the new devices are integrated in HA?

[2018-12-11 20:59] sander76 commented on #131
Hass makes use of this library through the "homematic-ip" component. However, the homematic-ip component does not yet know the HmIP-FSM exists. It needs to be implemented first. I hope to find some time during next Christmas holiday to spend some time on doing so.

[2018-12-11 21:01] anrada73 commented on #131
Wenn ich richtig verstanden habe, es gibt zwei Betriebsysteme für Home Assistant : HASSIO und Raspbian, der Skrypt von Greenberet läuft und lässt sich via pip3 install homematicip  installieren und der Skrypt läuft nur unter RASPBIAN.  Die Jungs aus USA haben den Skrypt von Greenberet für HASSIO integriert und der läuft unten Integrationen und das ist sehr einfach für die User. Greenberet hat scho

[2018-12-11 21:04] Obicom commented on #131
@sander76 that would really great and an additional Christmas present for us ;) I have spend a lot of time to come familiar with hassio, Lovelace  and to setup my "wish UI". Only FSM and FDT are missing for a perfect system for me. If I can "corrupt" you please let me know ;)

[2018-12-13 10:59] sander76 commented on #131
@Obicom
Have a look here:
https://github.com/home-assistant/home-assistant/pull/19247

I am going to try and add some more.
First new release of hass will be January unfortunately.

[2018-12-13 12:14] Obicom commented on #131
@sander76 that sounds good for me but please try to add also HmIP-FDT (Full_Flush_Dimmer). These are two often used switches and should be part of the Homematic IP integration. I cross my fingers and hope of a late Christmas present. I rely on you ;)

[2018-12-13 17:46] t0bse opened #134 "Boost function?"
Is it possible to integrate the boost function for the HMIP-eTRV (Heating thermostate)?
Otherwise i have to push my heater to 30 degrees all the time :)

[2018-12-13 17:52] coreGreenberet commented on #134
It's already implemented, but you have to "boost" the heating group and not the device.

[2018-12-13 18:04] t0bse commented on #134
thank you for your quick answer! can you give me an example? i just want to boost one heater

[2018-12-13 18:45] t0bse commented on #134
are you sure this is working in hassio? sorry for my newbie questions :)

[2018-12-13 18:57] t0bse commented on #133
there is another "new" magnetic door sensor: HmIP-SWDM

[2018-12-14 07:00] coreGreenberet commented on #134
Sorry I'm not the developer of the hassio module. I don't know if this is implemented there or not.

[2018-12-14 09:16] t0bse commented on #134
okay sorry, so i will ask @hass.io :)

[2018-12-14 09:16] #134 closed

[2018-12-14 19:33] chbndrhnns opened #135 "Set boost duration"
The app lets me set the duration of a boost period. Could we get this from this client, as well?

[2018-12-14 19:34] chbndrhnns opened #136 "Set away mode"
Would it be possible to configure the away mode from your client, as well? The app requires a date and time in the future that marks the end of the away mode.

[2018-12-14 19:54] coreGreenberet commented on #135
It's not implemented yet, but it will be possible =)

[2018-12-14 19:56] coreGreenberet commented on #136
do you mean in the hmip_cli.py? the cli interface supports this already with a duration parameter in "minutes". The API itself supports it with the Home.activate_absence_with_period and Home.activate_vacation methods

[2018-12-14 20:35] #135 closed

[2018-12-15 14:59] chbndrhnns commented on #136
Exactly what I was looking for.

[2018-12-15 14:59] #136 closed

[2018-12-16 08:38] papperone opened #138 "Missing lots of update in Home Assistant via the official integration!"
HI, I'm using this integration since few days and I can report that the updates of HMIP radiator valves HMIP-eTRV) is very poor, I am missing many updates, and very often HA reports them as closed at 0% while in the reality the valve is open as the radiator heats up; as well the temperature reading of the valve is not reported and always setup to 0° so I cannot even compare this reading with the s

[2018-12-16 10:04] coreGreenberet commented on #138
Sorry I'm not the maintainer of the homeassistant module. The module is just using this api for the values. Since my statistics at home are fine I'm guessing that the HA module is faulty here.

[2018-12-16 10:07] coreGreenberet commented on #138
Btw you won't get the temperature reading of the valve as eq3 doesn't provide this value in the cloud

[2018-12-16 12:41] sander76 commented on #133
@t0bse @ScooterisT5 @homeassistant18 This library is used on the background by HomeAssistant. But anything missing in homeassistant should not be reported here as @coreGreenberet is not involved in HomeAssistant.
Most of the HomeMatic integration is done by @mxworm and me.
So if you would like to have a device implemented in HomeAssistant I suggest doing the following:

- Make an issue in the Home

[2018-12-16 12:42] papperone commented on #138
Thanks both, I fully understand and apreciate your hard work, I am just looking for help as I may be have done something wrong...
I see that mechanically those valves are working perfectly but thier status / opening percentage is not sent regularly to HA... what can I look for to check if any issues in the setup?

[2018-12-16 17:56] coreGreenberet opened #139 "AIO Devices: Wrong Inheritance Order?"
At the moment all AIO Devices are using the order "non aio base", "base aio device" for inheritance.
e.g.
[code]
this might result in an error on calling in this case the AsyncSwitch functions ( turn_on, turn_off, ... )

Simple Console Test:
[code]
@sander76 since you've done most of the aio module: How do you think we should proceed here?

[2018-12-16 19:13] sander76 commented on #139
@coreGreenberet Inheritance order is correct. Your example assumes class C does not have any methods. My async class (which would represent class C in your example) has the methods implemented as async that need to be overridden from the base class.

If I remember correctly my choice for inheriting from two classes was because I didn't want to propose a complete restructure of your library which w

[2018-12-16 20:39] sander76 commented on #139
@coreGreenberet Doing some extra tests will never hurt! I'm not able to dig into this, and it's been a while since I did this but look here :

https://stackoverflow.com/questions/1848474/method-resolution-order-mro-in-new-style-classes#1848647

To see why it does work. Unless I made a mistake!

[2018-12-16 20:43] sander76 commented on #139
@coreGreenberet in any way, please let me know if you're going to change things. Homeassistant uses the async part of your library. And as you might have noticed: there are quite some users of home assistant..

[2018-12-16 21:50] #131 closed

[2018-12-16 21:50] #133 closed

[2018-12-16 21:51] coreGreenberet commented on #131
I think I've implemented all missing devices. Please create a new issue if there is still a device missing.

[2018-12-16 21:51] coreGreenberet commented on #133
I think I've implemented all missing devices. Please create a new issue if there is still a device missing.

[2018-12-17 08:34] Obicom commented on #131
@coreGreenberet Thank you very much and donation is on the way.  Now is on @sander76 and @mxworm to implement in Hass.io ...

[2018-12-20 06:00] TobiasKarge commented on #133
What needs to be done so that the BROLL is also integrated.

[2018-12-20 07:56] mxworm commented on #133
Hi @TobiasKarge and @sander76,

I don't test the device myself, can you checkout this branch and test if its working properly?
https://github.com/mxworm/home-assistant/tree/homematicip_cloud-cover_broll_froll

Thanks Mattias

[2018-12-21 08:45] anrada73 commented on #133
Thanks for your help, we are new to hass.io. How to implement what you did to test? hass.io is different from raspberry.

[2018-12-22 08:56] sander76 commented on #139
@coreGreenberet Did you manage to do any testing?

[2018-12-22 13:10] coreGreenberet commented on #139
I've just tried it now. But it looks like you can't user super() on all functions.
I had to change AsyncSwitch to this:
[code]

otherwise I got an exception that coroutine isn't iterateable

[2018-12-22 13:40] sander76 commented on #139
@coreGreenberet you're now implementing an extra function inside the async wrapper. I don't really see the point.

How are you testing? What does the test code look like ?

The way it was definitely works. Please, please don't just change the work I've done

[2018-12-22 13:46] sander76 commented on #139
@coreGreenberet the aio part of the library is being used intensively already. If it wouldn't have worked we would have known much earlier already

[2018-12-22 13:51] coreGreenberet commented on #139
Depends...are you using the set_switch_state or the turn_off/on functions in HASS.IO?
Well it's not "really" an extra function. The functions were there already, but you are calling super().turn_on which will just call self.set_switch_state

test code is in tests/aio_tests/test_async_device.py

[2018-12-22 14:42] coreGreenberet commented on #139
@sander76 okay thanks. Anyway my changes shouldn't break anything as it does basically the same as before.

[2018-12-22 19:01] sander76 commented on #139
@coreGreenberet The problems started with the following commit:

https://github.com/coreGreenberet/homematicip-rest-api/commit/566146dc75a44084ee870aaf7f232f834e02ca49

Here the `set_switch_state` in the async wrapper got implemented. This breaks my original implementation as the code now wants to call the coroutine as a normal method call. Which is not allowed. This explains the error you're seei

[2018-12-22 19:17] coreGreenberet commented on #139
ah that makes sense!
Well set_switch_state should stay public. If you are using something like an external trigger with True/False you can just pass it as a variable to set_switch_state. Otherwise you would always have to create something like this
[code]
instead of a one liner
[code]
No worries! I don't plan to abond this library.

[2018-12-22 19:17] #139 closed

[2018-12-23 13:34] coreGreenberet opened #141 "AsyncSwitchingGroup.turn_off will turn the group on"
the turn_off method will call super().turn_on instead of super().turn_off. Thats why it is not working properly

[2018-12-23 13:49] #141 closed

[2018-12-24 10:15] sander76 opened #143 "Move `hmip_generate_auth_token` inside the library"
Move the `hmip_generate_auth_token.py` file inside the package.
Create an `entry-points` entry inside `setup.py` to enable invocation from anywhere.
For example look here:

https://github.com/sander76/pv_prompt/blob/master/setup.py

[2018-12-24 15:21] coreGreenberet commented on #143
What's the reason for it? At the moment it will put the script in the Installation, so you can just run it from the command-line.

[2018-12-24 19:03] sander76 commented on #143
Ah.. is it.? I always thought it wasn't included at a pip install from pypi. Oeps my mistake. We can close then...

[2018-12-24 19:03] #143 closed

[2018-12-24 22:53] coreGreenberet commented on #143
It's there since Version 0.9 (March 2018)

[2018-12-25 06:04] sander76 commented on #143
@coreGreenberet I actually knew that 🙄

[2018-12-27 16:08] saepfle opened #145 "Add to github page HmIP-eTRV2 and HmIP-eTRV-B"
Hi,

I guess they are supported but not written on your github starting page with supported devices:
- HmIP-eTRV2 and HmIP-eTRV-B

Could you add them - thank you

Regards

Thomas

[2018-12-27 16:10] saepfle commented on #138
https://community.home-assistant.io/search?expanded=true&q=Homematic%20%23feature-requests%20order%3Alatest

[2018-12-28 07:38] sander76 opened #146 "when to release new version ?"
Not pushing you in any way, but I am wondering when you plan to push a new version on Pypi? I want to start using the latest (not released) version in hass

[2018-12-28 08:44] coreGreenberet commented on #146
Done

[2018-12-28 08:44] #146 closed

[2018-12-28 08:52] coreGreenberet commented on #145
I've added HmIP-eTRV2, but to be honest I'm not sure if HmIP-eTRV-B will work.
If you own one, could you please post your anonymized configuration?

[2018-12-28 08:55] coreGreenberet commented on #138
@saepfle I don't own a HmIP-SMO. I would need an example configuration to get it to work.

[2018-12-28 09:41] sander76 commented on #146
Thanks !

[2018-12-28 11:17] steckenpferd commented on #138
@coreGreenberet just a question the Data points and channels documentation for HmIP are not enough to extend the Rest-API?
https://www.eq-3.com/Downloads/eq3/download%20bereich/hm_web_ui_doku/HmIP_Device_Documentation.pdf

[2018-12-28 12:00] saepfle commented on #145
How to get in contact with you (E-Mai) I could send you some hardware for test purpose.

[2018-12-30 20:41] coreGreenberet commented on #126
I've started with the documentation in the branch https://github.com/coreGreenberet/homematicip-rest-api/tree/documentation. As soon as it has "something" in it I will merge it to the master branch.

The doc can currently be found under https://homematicip-rest-api.readthedocs.io/en/documentation/

[2019-01-05 10:06] Obicom commented on #131
@sander76 I checked the new Beta 0.85.0b and HmIP-FSM component is now working but still missing the HmIP-FDT component. Any chance to get it in the 0.85 release ? Please ... please ...

[2019-01-05 10:14] sander76 commented on #131
@obicom I'll give it a shot this evening.

[2019-01-05 10:21] anrada73 commented on #131
Sander76, thanks. I miss a lot: hmip-WRC6. HMIP-MOD-OC8, Hmio-Broll and Froll and Weater Station. Please)

[2019-01-05 10:35] Obicom commented on #131
@sander76 that would be great ... thank a lot you in advance ... please be so kind to keep us informed.

[2019-01-05 10:51] mxworm commented on #131
@anrada73 Can you please test FROLL or BROLL integration?
https://github.com/mxworm/home-assistant/tree/homematicip_cloud-cover_broll_froll

Ciao Mattias

PS: Weather station will come soon....

[2019-01-05 10:56] mxworm commented on #131
@anrada73 HmIP-WRC6 is a 6 channel push button transmitter - HMIP is not transmitting any button information. I can give you only the battery status.

[2019-01-05 11:03] anrada73 commented on #131
Hallo Mattias, ist es möglich mit Hass.io so testen?
Hello Mattias, I have a hassio, is it possible to test it?

[2019-01-05 11:17] anrada73 commented on #131
Danke Mattias, HMIP-MOD-OC8 lässt sich auch nicht?

[2019-01-05 12:16] anrada73 commented on #131
There is no class for MOTION_DETECTOR_OUTDOOR yet
13:14 components/homematicip_cloud/hap.py (WARNING)
There is no class for OPEN_COLLECTOR_8_MODULE yet
13:14 components/homematicip_cloud/hap.py (WARNING)

[2019-01-05 13:31] sonnenflieger commented on #131
und was ist UPnP/IGD  das wird bei mir neu erkannt, kann aber nichts konfigurieren

[2019-01-05 16:31] sander76 opened #148 "release a new version"
@coreGreenberet Are you able to push a new version with the latest updates to pypi ?

[2019-01-06 07:38] coreGreenberet commented on #131
@anrada73 could you please post your configuration again? The motion detector outdoor isn't implemented yet in the API.

[2019-01-06 07:43] Christoph-Caina opened #149 "invalid syntax error when I try to run "hmip_generate_auth_token""
Hi, I need some help running the Script "hmip_generate_auth_token" :-(
As soon as I execute the script, I will get the following error:

[code]

I am doing something wrong here?

Thanks a lot,
Christoph

[2019-01-06 07:54] Christoph-Caina commented on #149
solved.
I've had Python 2.7 and 3.6 - unfortunately, always the 2.7 version was used to execute the script.
Now it's working as expected.

[2019-01-06 07:54] #149 closed

[2019-01-06 09:13] anrada73 commented on #131
Hello, i use a HASSIO.

c:\hmip>hmip_cli.py --list-devices
2019-01-06 10:07:18,310 - homematicip.home - WARNING - There is no class for OPEN_COLLECTOR_8_MODULE yet
2019-01-06 10:07:18,310 - homematicip.home - WARNING - There is no class for MOTION_DETECTOR_OUTDOOR yet
2019-01-06 10:07:18,314 - homematicip.home - WARNING - There is no class for OPEN_COLLECTOR_8_MODULE yet
2019-01-06 10:07:18,314 -

[2019-01-06 12:19] coreGreenberet commented on #131
Please post the output from --dump-configuration --anonymize otherwise I would be unable to implement the motion_detector_outdoor

[2019-01-06 12:34] anrada73 commented on #131
bitte, machst du aber nicht für HASSIO, oder? KAnnst du uns mit hassio Component helfen?

{
    "clients": {
        "00000000-0000-0000-0000-000000000000": {
            "clientType": "APP",
            "homeId": "00000000-0000-0000-0000-000000000001",
            "id": "00000000-0000-0000-0000-000000000000",
            "label": "SM-G935F"
        },
        "00000000-0000-0000-0000-000000000002

[2019-01-06 14:39] #148 closed

[2019-01-06 15:00] coreGreenberet commented on #131
Nicht direkt, aber da HASS.IO diese library benutzt, können Aktoren in HASS.IO erst eingebunden werden, wenn sie hier implementiert wurden.

[2019-01-06 15:30] anrada73 commented on #131
Danke, aber der Mann welcher es für Hassio macht sagt, dass WRC6 wird nicht mit Hassio funktionieren, bei dir WRC6 und die Ferbedienung sind goch integriert. Komisch, hoffe irgend wann werden die alle Geräte für Home Assistant verfügbar. Danke für deine Arbeit.

[2019-01-06 16:06] dfigus commented on #114
https://gist.github.com/dfigus/4e48ed8e7924a637b028285914cdb065
Weather Sensor Plus is missing - but that's just a WeatherSensor Pro without the wind direction

[2019-01-06 23:04] #18 closed

[2019-01-07 13:55] Obicom commented on #131
@sander76 is there any news regarding the HmIP-FDT entity? Did you find the time to implement in Hass.io last days?

[2019-01-07 14:05] sander76 commented on #131
@Obicom check below ;-)

https://github.com/home-assistant/home-assistant/pull/19843

[2019-01-10 15:53] steckenpferd opened #150 "Add HmIP devices HmIP-ASIR-B1 and HmIP-eTRV-B1 - config data"
After executing those steps - here the configuration data for new devices HmIP-ASIR-B1, HmIP-SWDM-B2 amd HmIP-eTRV-B1:

1. Add first new HmIP devices with the "Homematic IP" App to the Access Point
2. Install latest Phyton version on your computer
https://www.python.org/downloads/
3. Open windows CMD (Eingabeaufforderung)
![grafik](https://user-images.githubusercontent.com/39061622/50979963-e86632

[2019-01-10 16:17] anrada73 commented on #150
{
    "clients": {
        "00000000-0000-0000-0000-000000000000": {
            "clientType": "APP",
            "homeId": "00000000-0000-0000-0000-000000000001",
            "id": "00000000-0000-0000-0000-000000000000",
            "label": "SM-G935F"
        },
        "00000000-0000-0000-0000-000000000002": {
            "clientType": "APP",
            "homeId": "00000000-0000-0000-0000-00000

[2019-01-10 16:26] steckenpferd commented on #145
This issue can be closed configuration data for HmIP-eTRV-B can be found here: https://github.com/coreGreenberet/homematicip-rest-api/issues/150

[2019-01-10 17:17] coreGreenberet commented on #150
Thanks for the configs. I will look into it.
I've moved your configs to a gist. So that its easier to read here.

Your instructions however are a little bit complicated.

as soon as you've installled python you can just run

- pip3 install -U homematicip
- hmip_generate_auth_token.py
- hmip_cli.py --dump-configuration --anonymize

you don't have to go to the scripts folder and search for the corre

[2019-01-10 17:59] steckenpferd commented on #150
Tried it first - did not work found this workaround and it worked :-)

[2019-01-10 18:05] coreGreenberet commented on #150
Okay I've just launched the installer and saw the issue
![grafik](https://user-images.githubusercontent.com/3853374/50987721-bc07e100-150a-11e9-9ee0-50b9aec7d19f.png)
This must be selected =)

[2019-01-10 18:11] #145 closed

[2019-01-10 20:00] #150 closed

[2019-01-13 10:20] sfrebel opened #151 "Getting INVALID_REQUEST in hmip_cli.py"
Hi,

I guess I am doing something wrong and could need some help.

My setup:
I am Using a Raspberry PI using Python 3.5.3 in a virtualenv. I ran the hmip_generate_auth_token.py and it generated a seemingly valid config.ini. I left this file where it generated (e.g. the working directory) and copied it to /etc/homematicip-rest-api/

The issue I am having is that no commands using the hmip_cli.py ar

[2019-01-13 18:04] coreGreenberet commented on #151
depending on your OS it might be, that there is python 2.X and 3.5.3 installed
please try to run it with python3 or directly with "hmip_clip.py --dump-configuration"

[2019-01-14 09:50] coreGreenberet commented on #151
When you open the HMIP Client, are you still able to see the api client under "clients"? If yes, then delete it.
Please rerun `hmip_generate_auth_token.py`

[2019-01-14 22:58] jogibear9988 opened #152 "hmip_generate_auth_token.py does not work"
I started hmip_generate_auth_token.py

     F:\test\homematicip-rest-api>python hmip_generate_auth_token.py
     Please enter the accesspoint id (SGTIN): XXXX-XXXX-XXXX-XXXX-XXXX-XXXX

and nothing more happens... any idea?

[2019-01-14 23:04] jogibear9988 commented on #152
it's an issue in our network...

[2019-01-14 23:04] #152 closed

[2019-01-17 11:10] Obicom opened #154 "Alarm ever activate arm_away never arm_home"
Hi coreGreenberet,

I have the issue that the alarmcontrol panel activates everytime arm_way equal if I switch arm_home or arm_away. If you switch on arm_home it needs some second (pending) and comes back with swichting both alarmpanel actors (away & home) to "armed_away". in HmIP App it shows every time "Vollschutz aktiv". I checked this with some other German hassio users and they confirmed this

[2019-01-17 12:21] coreGreenberet commented on #154
Sorry no, that's in hassio. The api supports both methods.

[2019-01-17 12:22] #154 closed

[2019-01-19 23:14] anrada73 opened #155 "Neue Geräte - HmIP-SMO-A - HmIP-FCI1"
Hallo, da sind fehlende Geräte:
-  HmIP-SMO-A
-  HmIP-FCI1

MfG

https://gist.github.com/coreGreenberet/16865dae641b8a6e0d07e4090dc20ae2

[2019-01-20 12:54] coreGreenberet commented on #155
Thanks,
please use a gist or something similiar in the future. the configs are long texts which will make the comments hard to scroll (especially on mobile devices)

[2019-01-20 14:08] coreGreenberet commented on #155
HmIP-SMO-A is already implemented

[2019-01-20 14:08] #155 closed

[2019-01-20 14:18] anrada73 commented on #155
Ok, danke. Sag welche Geräte brauchst du noch )

[2019-01-20 15:45] steckenpferd commented on #155
Hier siehst du im Excel in der ersten Spalte wo kein “x” ist welche Geräte noch fehlen.
https://dl.dropboxusercontent.com/s/nma2rtpafgngy2e/REST-API.vs.ioBroker.HmIP.xlsx

[2019-01-20 17:02] coreGreenberet commented on #151
Do you still have this problem? Would you mind to send me the config.ini?(mail or over the homematic forum as pm) I would like to verify with my environment

[2019-01-22 13:55] coreGreenberet commented on #154
@Obicom https://github.com/home-assistant/home-assistant/pull/20321

[2019-01-24 22:48] coreGreenberet commented on #151
I will close this issue as this isn't a problem on the library

[2019-01-24 23:04] #151 closed

[2019-01-25 14:55] weinbrand opened #160 "implement HmIP-KRC4"
Hi, please implement the devices mentioned above. Here is the anonymized config.

https://pastebin.com/X5TA51cC

Do you need anyhting else?

[2019-01-25 14:55] weinbrand opened #161 "implement HmIP-PCBS"
Hi, please implement the devices mentioned above. Here is the anonymized config.

https://pastebin.com/X5TA51cC

Do you need anyhting else?

[2019-01-25 14:55] weinbrand opened #162 "implement HmIP-FSM16"
Hi, please implement the devices mentioned above. Here is the anonymized config.

https://pastebin.com/X5TA51cC

Do you need anyhting else?

[2019-01-25 14:56] weinbrand opened #163 "implement HmIP-MOD-OC8"
Hi, please implement the devices mentioned above. Here is the anonymized config.

https://pastebin.com/X5TA51cC

Do you need anyhting else?

[2019-01-25 14:58] weinbrand opened #164 "implement HmIP-FDT"
Hi, please implement the devices mentioned above. Here is the anonymized config.

https://pastebin.com/X5TA51cC

Do you need anyhting else?

[2019-01-25 15:06] coreGreenberet commented on #164
it's already implemented. Are you missing something specific?

[2019-01-25 15:07] coreGreenberet commented on #163
it's already implemented. Are you missing something specific?

[2019-01-25 15:16] #162 closed

[2019-01-25 15:55] #160 closed

[2019-01-25 15:55] #161 closed

[2019-01-25 16:00] MarkusJankowski opened #165 "implement HmIP-BSL"
Hello,

please implement HMIP-BSL.
Here is my anonymized config: https://pastebin.com/vwc97DdM

Thanks a lot
and BR
Markus

[2019-01-25 17:37] coreGreenberet commented on #165
could you please set the top light to red and the bottom light to green and repost the config?
I would like to know which of the channels is the bottom/top one.

[2019-01-25 18:18] MarkusJankowski commented on #165
Lights are on:
https://pastebin.com/grUuzbvs

[2019-01-25 18:23] MarkusJankowski commented on #165
Both lights are on with 100%.

[2019-01-25 19:06] coreGreenberet commented on #165
thanks =)

[2019-01-26 06:13] MarkusJankowski commented on #165
I think it's working.
device.set_rgb_dim_level(device.topLightChannelIndex, RGBColorState.RED, 0.8)
--> turns on the top light with red colour and dimmer level of 80% as expected. I verified this in the APP too.

device.bottomLightChannelIndex, RGBColorState.BLUE, 0.5, 10, 20
--> turns on the buttom light with blue colour and a minimum dimmer level (3%). The ramp-up to a dimmer-level takes 20 seco

[2019-01-26 08:13] MarkusJankowski commented on #165
BTW. Thank you for the very fast response to the tickets, good work and this extremly helpful project.

[2019-01-26 09:22] MarkusJankowski opened #166 "implement HmIP-SLO"
Hello,

please implement HMIP-SLO.
Here is my anonymized config: https://pastebin.com/KGjHDARU

Thanks a lot
and BR
Markus

[2019-01-26 09:51] coreGreenberet commented on #165
No Problem  :) and thanks for the answers

[2019-01-26 09:51] #165 closed

[2019-01-26 10:57] coreGreenberet commented on #166
are the average/lowest/highst values from the current day/week/month/total?
can these values be reseted?

[2019-01-26 11:15] MarkusJankowski commented on #166
I think these values (average/lowest/highst) are an aggregation over the last X measurements.
As far i could remember the last 6 measurements are used in CCU, but i cannot switch this setting in AP. These values cannot be reseted.

[2019-01-26 12:07] coreGreenberet commented on #164
If the issue is only from home assinstant, then please create an issue there
https://github.com/home-assistant/home-assistant

[2019-01-26 12:07] #164 closed

[2019-01-26 12:16] coreGreenberet commented on #166
implemented in fc4e5eae943f8f0298a75754bb8750b7cc32e74d.
I've also released a new version.

[2019-01-26 12:16] #166 closed

[2019-01-27 19:46] Leonid1462 opened #167 "Missing HMIP component HmIP-FBL"
edit @coreGreenberet: moved config to gist
https://gist.github.com/coreGreenberet/6a727b85ba3b0415e47561c90d9366c4

[code]

[2019-01-27 20:06] jogibear9988 opened #168 "Api for slatsLevel ?"
Do you have the api call to set the slatsLevel?

[2019-01-28 07:52] coreGreenberet commented on #167
thanks for the dump.
I'm currently on a business trip, so it might take a week

[2019-01-28 07:54] coreGreenberet commented on #168
I think I can grab it, but I'm on a business trip and I don't have access to my private computer.
so it might take a week.

[2019-01-28 21:47] jogibear9988 opened #169 "Problem to read "on" of a homematic push button"
I've a homematic push button, but I've not yet assigned to an actor.

Is it possible to read the state? In the json I read over the websocket "on" is always "null"

[2019-01-28 21:52] coreGreenberet commented on #169
Sorry i don't know. The last push button configuration I've received didn't have an "on" value.

[2019-01-28 21:58] jogibear9988 commented on #169
means I can do nothing with the push buttons via the API?

[2019-01-28 23:32] coreGreenberet commented on #169
Sadly not really :( maybe they have changed the event, so that you can see which button got pressed, but you have to check this, because I don't own one to test it myself

[2019-01-29 07:53] Obicom opened #170 "Since HA 0.86.x all smoke detectors of HmIP have the state "smoke detected""
Hi coreGreenberet,

Since home assistant version 0.86.x all smoke detectors of HmIP have the state "smoke detected". For me this is a real security issue. I do not know if it has something to do with your rest api or is a issue in the HA implementation. Could you or @sander76 / @mxworm be so kind to do a deeper look inside? Serveral HmIP/HA users in our German facebook group confirmed the same beh

[2019-01-29 07:57] coreGreenberet commented on #170
Please post home assistant issues in the home assistant repository.

And this issue is already fixed in the repository, so it should be in the next release.

[2019-01-29 07:57] #170 closed

[2019-01-29 08:16] Obicom commented on #170
Thank you for the information @coreGreenberet . I did it also on HA issue list but I saw no progress or response.

[2019-01-29 16:56] SukramJ commented on #169
I also tried to figure out how push buttons might work with the API. I am a python newbie, so event handling is quiet unclear and the given example is too short for me, but could be that we get an event where we could read out the effected channel?
(Just my personal expectation.)

[2019-01-29 16:58] SukramJ commented on #169
Do you have a better sample with event handling, so that we can test it against the real buttons?

[2019-01-29 17:02] coreGreenberet commented on #169
That's actually what I thought...maybe we are getting only the effected channel on the event, but I think we will get the full one.

You could run hmip_cli.py --list-events with a loglevel of debug

[2019-01-29 17:03] jogibear9988 commented on #169
problem is, you don‘t get an event from the homematic ip cloud

[2019-01-29 17:07] coreGreenberet commented on #169
Well then we can't do anything :(

[2019-01-29 17:53] jogibear9988 commented on #169
yeah...
If I attach the button to a plugable switch, I get the valuen from the switch, that it is on, but none from the button.
I'm now experimenting with groups

[2019-01-29 18:45] jogibear9988 commented on #169
@sander76 you could use a button to set holiday mode to a value (a different one for each button). then you could use this to work with

[2019-01-29 19:25] coreGreenberet commented on #169
I guess the best option would be to buy a mod-oc8. That way you will have 8 switches/variables to play with.

[2019-01-29 20:43] jogibear9988 commented on #169
I've 2 push buttons...

[2019-01-29 21:16] sander76 commented on #169
Holiday mode... Hmmm...

[2019-01-29 21:22] coreGreenberet commented on #169
yes but with the mod 8 you can use 2 of them for your buttons (maybe even 4 with the long press thingy).
e.g.
Button 1 press -> switch 1 to on
Button 2 press -> switch 2 to on

in home-assistant/iobroker/....

Switch 1 got turned on -> "someone has pressed button 1" -> turn switch 1 off and do action XYZ

Holiday mode would be a bad idea in my opinion. for each button press you will generate messa

[2019-01-30 22:39] jogibear9988 commented on #169
before I would do that, I will change to not use the CloudIpAccessPoint and assign the devices directly to rasp PI via a CUL or smth similar

[2019-02-03 10:42] steckenpferd commented on #168
Ans news?

[2019-02-04 18:47] coreGreenberet commented on #169
I'm closing this as we can't really do somethin about that.

[2019-02-04 18:47] #169 closed

[2019-02-04 19:01] coreGreenberet commented on #168
[code]

could you please try this? I think slatsLevel must be between 0.0 and 1.0

[2019-02-04 19:02] #163 closed

[2019-02-04 19:35] jogibear9988 commented on #168
I‘ve already implemented like this
https://github.com/iobroker-community-adapters/ioBroker.hmip/blob/master/api/hm-cloud-api.js#L198 but they said it did not work

[2019-02-04 22:42] coreGreenberet commented on #168
What did the cloud answer to the call?

[2019-02-05 06:14] jogibear9988 commented on #168
hmm, don‘t know.
only a user said it didn‘t work

[2019-02-05 22:17] jogibear9988 commented on #168
@coreGreenberet do you have any idea abou this: https://forum.iobroker.net/viewtopic.php?f=36&t=21000&p=229845#p229845

[2019-02-05 23:18] coreGreenberet commented on #168
"Das von dir ausgewählte Thema existiert nicht."

[2019-02-06 09:43] Leonid1462 commented on #168
in the app I can change shutterLevel and slatsLevel to any value between 0% and 100%. It works perfectly.
In ioBroker the respective values are not reflecting any status change. (no update)

[2019-02-06 20:18] jogibear9988 commented on #168
pleasee switch the adapter to silly and post the logs

[2019-02-06 20:55] Leonid1462 commented on #168
starting position from app screen:  shutterLevel on 100% and slatsLevel on 65%
changed in ioBroker the value for slatsLevel to 1. Shutter moves up and shows in app afterwords shutterLevel = 5% and slatsLevel = 100%.
Log:

hmip.0 | 2019-02-06 21:40:55.058 | info | state change - slatsLevel - id 3014F711A0001397099C4322 - value 1
-- | -- | -- | --
hmip.0 | 2019-02-06 21:40:55.044 | silly | inMem mes

[2019-02-07 13:03] coreGreenberet commented on #168
I think I found the problem.
setSlatsLevel expects a shutterLevel parameter. Since it was missing it was using it as "0" -> move them up

[code]

[2019-02-08 06:07] jogibear9988 commented on #168
@coreGreenberet does then the shutterlevel command also need a slats level? or is always the slats command used?

and do you know
https://www.eq-3.de/Downloads/eq3/download%20bereich/hm_web_ui_doku/HmIP_Device_Documentation.pdf

[2019-02-08 06:13] coreGreenberet commented on #168
The setShutterlevel doesn't have the slats parameter.

Yes I know that document, but sadly out doesn't reflect the cloud :(

[2019-02-08 06:25] jogibear9988 commented on #168
@coreGreenberet and that https://media.readthedocs.org/pdf/homematicip-rest-api/latest/homematicip-rest-api.pdf

[2019-02-09 16:59] steckenpferd commented on #167
Any news? - für die github Startseite - der HmIP-FBL heißt auf EN "Blind Actuator"

[2019-02-10 16:11] coreGreenberet commented on #167
Sorry haven't had time for this yet.

[2019-02-10 18:36] Obicom opened #173 "Please integrate push action for switches in the API"
Hi coreGreenberet,

lot of users wish the implementation of HmIP push buttons (switches e.g. HmIP-WRC6) in home assistant. mxworm say is not possible in regards of the API (see enclosed screenshot). In the new homematic ip integration in iobroker it was solved, so it could not be impossible. Could you take a look on this topic please? Would be great (e.g. for automation) if we could use the wall s

[2019-02-10 18:46] SukramJ commented on #173
Read [this](https://github.com/coreGreenberet/homematicip-rest-api/issues/169)

It is not possible.

[2019-02-10 18:55] Obicom commented on #173
I am confused why it is possible with ioBroker but not with HA. Maybe the different developers should exchange there knowledge.

[2019-02-10 19:12] SukramJ commented on #173
I don't think it is possible with iobroker. [See](https://github.com/iobroker-community-adapters/ioBroker.hmip/issues/34)

[2019-02-10 21:01] coreGreenberet commented on #173
Sadly it's not possible :( eq3 doesn't give us this information

[2019-02-10 21:01] #173 closed

[2019-02-10 21:05] #126 closed

[2019-02-12 18:46] #167 closed

[2019-02-12 22:31] FlavorFx opened #176 "Invert signal state of HMIP-SWDO"
The shutter component has a feature to invert the state. "open" means "closed" and "closed" means "open". This feature is assessable by Homematic CCU but not by Homematic IP. Is there is way to get access by rest-api?

[2019-02-13 06:36] coreGreenberet commented on #176
Not by the api itself.
It could be implemented though. Could you tell me an example why you needed need it inverted?

[2019-02-13 12:39] coreGreenberet commented on #168
@jogibear9988 @Leonid1462 does it work now as expected?

[2019-02-14 09:39] Leonid1462 commented on #168
sorry, but I can‘t test anything at the moment. I‘m not at home the next 8 days

[2019-02-14 22:54] FlavorFx commented on #176
Well, I have a shutter in my post box at a certain position. When flap opens, the shutter closes. By Homematic CCU it was easy to invert the signal but with HMIP not. eQ3 is not really motivated to make this feature available.
Only change it in HA is not what I'm looking for. I was hope to find a way to get access to the sensor feature itself.

[2019-02-15 05:35] jogibear9988 opened #178 "homatic no data after a day"
hello @coreGreenberet
is this https://github.com/iobroker-community-adapters/ioBroker.hmip/issues/35
a problem you know? is there a automatic disconnection ?

[2019-02-15 06:37] coreGreenberet commented on #176
Sorry :(

[2019-02-15 06:37] #176 closed

[2019-02-15 10:17] coreGreenberet commented on #178
to be honest I don't know.
@sander76 has implemented a ping loop in the async part of the library. Maybe because of that

[2019-02-15 10:21] sander76 commented on #178
@jogibear9988 At times connection with the websocket get lost (client side or server side)
It is the client's task to handle this disconnect. Among other the asynio implementation has indeed a ping loop built in. The software will need to handle the exception raised by a failed ping or other disconnect.

Not sure how this is handled in iobroker. Don't know the software.

[2019-02-15 14:04] #178 closed

[2019-02-15 14:31] jogibear9988 commented on #178
it has nothing to do with iobroker, it‘s only in my adapter!

so i will implement a ping pong

[2019-02-18 18:13] gilvitzi commented on #114
https://gist.github.com/gilvitzi/29e07f3369f40a59455d54face2c2342
BRAND_PUSH_BUTTON not implemented (HMIP-BRC2)
Seems it is just a PUSH_BUTTON in terms of functionality

[2019-02-19 15:29] coreGreenberet opened #182 "Missing HMIP-BRC2"
https://gist.github.com/gilvitzi/29e07f3369f40a59455d54face2c2342
BRAND_PUSH_BUTTON not implemented (HMIP-BRC2)
Seems it is just a PUSH_BUTTON in terms of functionality

_Originally posted by @gilvitzi in https://github.com/coreGreenberet/homematicip-rest-api/issues/114#issuecomment-464832705_

[2019-02-20 22:53] coreGreenberet commented on #182
implemented in 963511b690d3bd3479bc8e4637371b0136999a54

[2019-02-20 22:53] #182 closed

[2019-02-22 23:28] stefancyliax opened #183 "Thermostat compact (HMIP-eTRV-C) does not work"
Hey guys

you state that the compact thermostat should work, but it does not.
HMIP-eTRV-C (Heating-thermostat compact without display not tested, but it should work)

Home Assistant 0.88 shows the following error message:
"There is no class for device 'HEATING_THERMOSTAT_COMPACT' yet"
If there is some part I can help with, tell me.

Thanks

[2019-02-23 08:47] steckenpferd commented on #183
Please post your log data - like here described:
https://github.com/coreGreenberet/homematicip-rest-api/issues/150

[2019-02-23 09:36] stefancyliax commented on #183
Here you go
https://gist.github.com/stefancyliax/3050994d5d4d2d39400aab53bba0f5bc

[2019-02-23 10:58] #183 closed

[2019-02-23 11:02] stefancyliax commented on #183
Great. Thanks!

[2019-02-23 11:24] steckenpferd commented on #183
@mxworm can you add it now to Home Assistant

[2019-02-23 11:31] SukramJ opened #184 "Missing HEATING_FAILURE_ALERT_RULE_GROUP"
Hi,

i have new issue in my  HA logs:
`There is no class for group 'HEATING_FAILURE_ALERT_RULE_GROUP' yet
`
Might be related by to the latest eQ-3 maintenance on thursday.

Here is my [config](https://gist.github.com/SukramJ/6c521547a075bd2cff92195392765d31).

BR
Markus

[2019-02-23 12:00] SukramJ commented on #184
There are also new properties for HeatingGroup:

            "valveSilentModeEnabled": false,
            "valveSilentModeSupported": false,

[2019-02-23 13:40] coreGreenberet commented on #184
I've implemented them today eea3fdbb03ab846010006fab6119e3d00bed3af6.
I'm still missing the activate/deactivate functionality. Even though it has an "enabled" parameter it looks like that the app will just create/remove the whole group on enable/disable

[2019-02-23 13:40] #184 closed

[2019-02-24 10:01] coreGreenberet opened #185 "HUMIDITY_WARNING_RULE_GROUP group is missing"
[code]

Could someone please post the group who has an outdoorClimateSensor attached?

[2019-02-24 10:19] SukramJ commented on #185
Should be there:

https://gist.github.com/SukramJ/9797187b5aab7d68f661488ddb5779a4

[2019-02-24 11:23] coreGreenberet commented on #185
Thanks:)

[2019-02-26 22:29] coreGreenberet commented on #168
@Leonid1462 any update?

[2019-02-27 07:29] steckenpferd commented on #168
Here you find Lenids feedback in the iobroker forum: https://forum.iobroker.net/topic/18872/aufruf-homematic-ip-cloud-access-point-adapter/155

[2019-02-27 10:14] Leonid1462 commented on #168
My latest findings:  Editing the slatsLevel directly in the objects table of iobroker is meanwhile possible without interfering with the shutterLevel. But, without knowing why, the shutters are not acting correctly. I put there a slatsLevel = 0.3 and the shutter opens the slats complitly (which would normaly mean slatsLevel = 0).  The HmIP App shows afterwards slatsLevel = 30%.  (If I change in th

[2019-02-27 19:56] coreGreenberet commented on #168
When you say Script...so you mean with this python api or something in iobroker?

[2019-02-28 07:01] Leonid1462 commented on #168
Yes, blockly script in iobroker

[2019-03-01 19:55] coreGreenberet commented on #168
okay so basically the function should be alright.
I will close the issue here for now.

[2019-03-01 19:55] #168 closed

[2019-03-02 21:43] #185 closed

[2019-03-10 17:27] SukramJ opened #187 "Missing field vaporAmount for HmIP-SWO-PR"
Hi,

please add missing field vaporAmount for HmIP-SWO-PR.
[hmip.json](https://gist.github.com/SukramJ/dc36747725f9aad131049229594e0d62)

Could be that there are methods for reseting the totalXXX values (HmIP-SWO-PR), but there is also no switch in the app.

Thanks
BR
Markus

[2019-03-11 19:15] PalatinCoder opened #188 "STRONG_WIND Weather condition"
Hi,
having somewhat extreme weather conditions in Germany right now, I discovered even my Pi doesn't like that:
[code]

[2019-03-11 19:19] coreGreenberet commented on #188
yeah they've added strong wind as a new value for the WeatherCondition

[2019-03-11 19:21] #188 closed

[2019-03-11 19:23] PalatinCoder commented on #188
Well that was quick! Thank you!

[2019-03-12 21:27] #187 closed

[2019-03-13 16:35] PalatinCoder commented on #114
https://gist.github.com/PalatinCoder/66d2a60fc07359cfef185b5f0800c4a1
`homematicip.home - WARNING - There is no class for group 'HEATING_FAILURE_ALERT_RULE_GROUP' yet`
also, eTRV-B seems to work just fine

Hope it helps :)

[2019-03-13 16:56] PalatinCoder opened #190 "Websocket exception handling"
I implemented kind of a "watchdog" script using your library, which *should* run 24/7. This works pretty well, however from time to time the websocket connection is reset:
[code]
I tried recovering from the ConnectionResetError as well as occasional TimeoutError with try...catch, but this clearly doesn't work, as the exception is not actually thrown but bytes2str has trouble converting it to str.

[2019-03-13 20:25] steste123 commented on #114
Hi - I've got a hmip miob - is there anything I can provide you therefore?
or just

;)

[2019-03-14 20:58] coreGreenberet commented on #114
@PalatinCoder thats already implemented since 02.03.2018 / version 0.10.6, but thanks for the dump =)

@steste123 thanks for the dump. Can you edit the analog output level from the multi io box in the app?
Can you change the type of the switches in the app (eg. input to output)

[2019-03-14 21:02] steste123 commented on #114
No - only can configure some specific heater specific settings. It would be great to know if the MIOB sent a "heat" command to the heater or if its disabled.

[2019-03-14 21:02] coreGreenberet commented on #190
i guess an optional auto reconnect wouldn't be bad here, but I don't know when I have the time to implement it at the moment =(

[2019-03-17 14:54] PalatinCoder commented on #190
I would greatly appreciate that 😄
In the meantime, please consider #191 , which implements my suggestion on throwing the exception to the outside. Thank you!

[2019-03-17 17:42] coreGreenberet commented on #190
#191 is merged

[2019-03-17 17:52] coreGreenberet commented on #114
I think the "heat" command is the "on" value on the switch channels

[2019-03-18 17:34] steste123 commented on #114
I talked to HMIP and they confirmed this.

[2019-03-19 13:14] steckenpferd commented on #114
@greenberet is the HmIP-MIOB now implemented? If yes, than we should update the readme.

[2019-03-19 19:03] coreGreenberet commented on #114
not completely, i'Ve started the implementation in another branch, but its not finished yet

[2019-03-20 15:38] coreGreenberet commented on #114
Multi IO Box got implemented now: 14ca2628b8fb5c47fb350edc66ff9449ee3ca26b

[2019-04-08 10:59] SukramJ opened #195 "Missing items for HmIP-MIOB"
Hi @coreGreenberet,

the switches (3680W and 1840W) are missing in the implementation for HmIP-MIOB.

BR
Markus

[2019-04-08 11:36] coreGreenberet commented on #195
are you sure? Aren't these in self.functionalChannels[1] and 2?

[2019-04-08 12:21] SukramJ commented on #195
Sorry, you are right.

[2019-04-10 16:39] SukramJ commented on #195
Next question:
There is no method to control the analog output?

[2019-04-10 16:43] SukramJ commented on #195
And there is no value for channel 3 and 4 (GENERIC_INPUT_CHANNEL).
Correct?

[2019-04-10 17:27] SukramJ commented on #195
Hi i started a PR home-assistant/home-assistant#22975.

[2019-04-10 17:51] coreGreenberet commented on #195
Sadly we don't get the value from the input channel. For the analog output channel...I don't know. Is it possible to control it via the app?

[2019-04-10 17:57] SukramJ commented on #195
I can't tell you. I don't have one, but that would be my expectation.

[2019-04-11 19:15] #195 closed

[2019-04-15 19:17] Skibbie opened #197 "Freeze after SGTIN entered"
Could you please help to get the auth token generated?
After entering the SGTIN nothing happens anymore.

I'm using piVCCU3 with HmIP-RFUSB - could this be found only by SGTIN or do I have to configure the network / IP-address / anything else???

Adding a timeout or other instructions, would be great. Program couldn't even aborted with STRG+C - had to kill via second console.

[2019-04-15 20:16] steckenpferd commented on #197
My friend CCU/pivCCU/RaspberryMatic have no Cloud and not using this API.
@Jochen this issue should be closed.

[2019-04-15 20:40] coreGreenberet commented on #197
As @steckenpferd said. This API is only for cloud connected environments

[2019-04-15 20:41] #197 closed

[2019-04-19 00:04] user45876 opened #198 "Please add HmIP-PCBS2 (Printed Circuit Board 2)"
C:\Users\user>hmip_cli.py --dump-configuration --anonymize
{
    "clients": {
        "00000000-0000-0000-0000-000000000000": {
            "clientType": "APP",
            "homeId": "00000000-0000-0000-0000-000000000001",
            "id": "00000000-0000-0000-0000-000000000000",
            "label": "xxxxxxxx"
        },
        "00000000-0000-0000-0000-000000000002": {
            "c2cServiceIde

[2019-04-19 00:08] user45876 opened #199 "Please make value "OTAU error count" visible (if possible :) )"
After having problems getting Firmware delivered to devices, eq-3 Support gave me this:

000000000000000000000000, [PANIC][groupname][Lichter][Roomname- SWITCHING], HmIP-BSM
DELIVER_FIRMWARE_IMAGE -> 1.12.6 (current version 1.10.12)
**OTAU error count: 166,** RF state: OK, RSSI in: -52, RSSI out: -51, battery OK

Is it possible to get this value "OTAU error count" from the API?

Thanks a lot :)

[2019-04-25 20:58] coreGreenberet commented on #199
Sadly we don't see the error count =(

[2019-04-25 20:58] #199 closed

[2019-04-25 21:23] coreGreenberet commented on #198
implemented in d4c8df53281577e01709f75cacb78b1a5a1d00db

[2019-04-25 21:23] #198 closed

[2019-04-26 05:29] user45876 commented on #199
Thank you very much. That is indeed sad.

[2019-04-26 05:30] user45876 commented on #198
Thank you very much! Your project is a really great thing :)

[2019-05-01 22:46] steckenpferd opened #202 "HmIP-BBL Jalousieaktor"
Hi,

reichen die Info's aus dem LOG hier aus um den BBL hinzuzufügen:
https://github.com/iobroker-community-adapters/ioBroker.hmip/issues/23

[2019-05-06 09:52] SamDecrock opened #204 "REST API Documentation"
Hi,

I like it that you made a Python wrapper for the REST API. But do you also have a document describing the REST API? This way, I can build my own wrapper without going through the whole reverse engineering process again.

Thanks!
Sam

[2019-05-06 17:48] steckenpferd commented on #204
Documentation can be found under https://homematicip-rest-api.readthedocs.io

[2019-05-06 18:27] SamDecrock commented on #204
I've already looked on that page. I can only find the documentation regarding the Python code.

I'm looking for something that documents the real RESET API. So documenting API calls like:

[code]

[2019-05-07 05:02] coreGreenberet commented on #204
Sadly there is none. The best thing would be to convert my python code.

[2019-05-07 05:04] coreGreenberet commented on #202
Sollten reichen. Ich dachte eigentlich, dass ich den bereits implementiert habe 🤔

[2019-05-15 09:12] #204 closed

[2019-05-22 06:29] 22kW commented on #114
Hi - I've got a several BBL which are not supported yet:
https://gist.github.com/22kW/9b0f4064be28c368b96f13417331fc3c

[2019-05-22 06:34] 22kW commented on #202
HmIP-BBL wird bei mir auch als nicht unterstützt angezeigt:
https://gist.github.com/22kW/9b0f4064be28c368b96f13417331fc3c

[2019-05-23 17:00] coreGreenberet opened #210 "HmIP-FAL24-C10 is missing"
Hi - I've got several HmIP-BBL and a HmIP-FAL24-C10 which are not supported yet. config:
https://gist.github.com/22kW/9b0f4064be28c368b96f13417331fc3c

_Originally posted by @22kW in https://github.com/coreGreenberet/homematicip-rest-api/issues/114#issuecomment-494670323_

[2019-05-23 17:02] #202 closed

[2019-05-23 17:38] #210 closed

[2019-07-03 05:00] SukramJ opened #220 "Support controlMode ECO"
Hi,

if a device is set to ECO-Mode, than the controlMode is also ECO.

https://gist.github.com/SukramJ/8ab529d09a2eff7f117db1d61f9daa27
line 5028

BR and thanks
Markus

[2019-07-06 15:55] #220 closed

[2019-07-09 16:21] SukramJ opened #223 "activateVacation does not work"
Hi,

i tried to activate Vacation but it didn't work.

Here are some infos:
body: '{"endtime": "2019_08_11 14:00", "temperature": 14.0}'
path: 'https://srv07.homematic.com:6969/hmip/home/heating/activateVacation'
result: <ClientResponse(https://srv07.homematic.com:6969/hmip/home/heating/activateVacation) [400 Bad Request]>
<CIMultiDictProxy('Content-Type': 'application/json', 'Connection': 'close'

[2019-07-09 16:23] SukramJ commented on #223
BTW:
activate_ecomode_with_duration
activate_ecomode_with_period
deactivate_ecomode
deactivate_vacation

work without issue.

[2019-07-10 18:59] SukramJ opened #224 "New device HmIP-SCI"
Hi,

there is a new device in my [config](https://gist.github.com/SukramJ/43b676162d341750d15e2323874eeeaa)
HmIP-SCi:

Please have a look.
BR
Markus

[2019-07-10 19:24] #223 closed

[2019-07-10 19:25] coreGreenberet commented on #223
should work now

[2019-07-18 21:57] coreGreenberet commented on #224
merged with PR #226

[2019-07-18 21:57] #224 closed

[2019-07-22 17:59] SukramJ commented on #223
Hi,
thanks, works now.
Sorry, I forgot to answer.
Is it possible for you to create a new release this week?

BR

[2019-07-22 19:52] steckenpferd commented on #224
Kurze Rückfrage dazu: Wurde der Code hinzugefügt ohne dass das Gerät physisch gebraucht wurde - falls ja, könnte man so auch die anderen fehlenden Geräte hinzufügen?

[2019-07-22 19:56] SukramJ commented on #224
Das Gerät ist "physisch vorhanden".

[2019-07-22 20:01] SukramJ commented on #224
Welche Geräte willst Du denn ohne vorhanden sein hinzufügen?

[2019-07-22 20:18] steckenpferd commented on #224
Na alle fehlenden wenn es funktioniert hätte ;-)

[2019-07-23 11:47] SukramJ opened #227 "HmIP-SWDM does not support sabotage"
Hi,
HmIP-SWDM does not support sabotage.
I will create a PR this evening and add a test.

BR

[2019-07-25 17:54] #227 closed

[2019-07-30 18:26] SukramJ commented on #227
Hi,
do you have any plans for a new release.
Currently HmIP-SWDM fails to be available again after a lost internet connection, and this is the only thing i found that might not have been correct with the current implementation.
HA beta might start tomorrow, but I don't want to push you, because i am not 100% sure that this might be the cause.

BR

[2019-08-01 09:10] coreGreenberet commented on #227
Maybe I can create a tag today or tomorrow

[2019-08-01 09:15] SukramJ commented on #227
That would be great.

[2019-08-01 20:28] coreGreenberet commented on #227
0.10.10 is out

[2019-08-01 23:01] funkschrauber opened #230 "There is no class for device 'REMOTE_CONTROL_8_MODULE' yet"
Missing component HmIP-MOD-RC8

[2019-08-02 07:53] steckenpferd commented on #230
Hi you need to post the config date - here how tobdobit
https://github.com/coreGreenberet/homematicip-rest-api/issues/150

[2019-08-02 09:32] funkschrauber commented on #230
[hmip_funkschrauber.txt](https://github.com/coreGreenberet/homematicip-rest-api/files/3460582/hmip_funkschrauber.txt)

[2019-08-21 18:54] #230 closed

[2019-09-06 22:54] FlavorFx opened #237 "Integrate HMIP-SAM Acceleration Sensor"
Please integrate **HMIP-SAN** sensor into the homematicip-rest-api so that I can use it as garage door sensor.

[2019-09-07 07:03] coreGreenberet commented on #237
Please post your HMIP configuration. See #114 for details

[2019-09-07 10:52] FlavorFx commented on #114
That's my config:
https://gist.github.com/FlavorFx/27c6a45bf874961f9ee7d4fc615d67d7

[2019-09-08 16:40] FlavorFx commented on #237
Ok, I posted my HMIP config with gist.

[2019-09-09 17:22] SukramJ opened #240 "HmIP-SPDR: how to detect a passage?"
Hi,
i try to implement HmIP-SPDR in Homeassistant, but i don't have one!

I wonder how it is possible to detect a passage (left/right).
Do you know which property is relevant for passage detection.
My first candidate is passageDirection, but the related enum only contains two values (LEFT/RIGHT).
Any ideas?
Do you know who owns a HmIP-SPDR?

BR
Markus

[2019-09-14 19:15] #240 closed

[2019-09-21 17:51] coreGreenberet commented on #237
I'm currently working on this. Does the HMIP-SAM have any configurable elements, or will it just alert if it got moved?

[2019-09-21 19:26] FlavorFx commented on #237
It does:
1st option is assignment to “vibration and movement” or “pan and tilt”
2nd option is detection angle 0 to 45 degree
3rd option acoustic signal back to origin
4th option acoustic signal from origin to vertical position
5th option neutral position “vertical” or “horizontal”

Please let me know if you have further question.

[2019-09-23 09:41] coreGreenberet commented on #237
in the API there is a method for setting the notificationSoundType with the option for HighToLow or LowToHigh which looks like you could do either of them but not both. The JSON on the other side has both values written in it.
How is it in the app? Can you configure both?

[2019-09-23 10:40] FlavorFx commented on #237
Yes, I can. There could be a signal out of origin AND there could be another signal back to origin.

I also attached the snapshots of the remaining configuration screens.

[2019-09-23 12:53] #237 closed

[2019-09-23 12:53] coreGreenberet commented on #237
I couldn't see the screenshot here on github, but I think that this should do it.

[2019-09-23 13:52] FlavorFx commented on #237
Ok, great. I’ll test it when it’s available in Home Assistant.

[2019-10-04 12:55] SukramJ commented on #237
@FlavorFx What would you expect if HmIP-SAM is implemented in HA?

I checked the api and currently there is only on attribute (accelerationSensorTriggered) that could be used for a binary_sensor.
Could you post some more configs with this sensor to get a better understanding of it.
- sensor in horizontal position
- sensor in vertical position
- sensor moving from vertical to horizontal position or

[2019-10-04 13:07] steckenpferd commented on #169
Why not do it like the CCU. Read out which button is direct connected with which device e.g. WRC2 Button 1 - with HmIP-PSM Status “On”. So when you want to trigger the Button for WRC2 thru the cloud l, instead you read the direct connection and trigger (like thru a tunnel) instead the HmIP-PSM to status “On”.
Would that not work for all this:
Remote Control - 8 buttons (HmIP-RC8)
Wall-mount Remote

[2019-10-04 13:15] SukramJ commented on #169
This is not the way the CCU works.
In your scenario the PushButton info is not needed, because you have connected switches to read a state.
CCU also works without connected switches.

[2019-10-04 13:36] steckenpferd commented on #169
I just tested it with the CCU and Hm-pb-2-wm55 and @Home App. When I trigger thru the app the Hm-pb-2-wm55 battery Taster it doesn’t reacts (normally green light flashes when pressed) but my direct connected light with the Taster goes “on”. So the CCU is triggering instead the light which is direct connected to the Taster - makes sense. Pretty sure here.
I can test the same with Homematic Manager

[2019-10-04 14:44] FlavorFx commented on #237
A binary sensor sounds fine for me.

Here is the entire configuration:

Mode of Acceleration Recognition
* "Vibration and Movement" or „Tilting"

Trigger Tilt Angle
0° to 45°

Acoustic Signal back to Origin
* No Signal, short Signal, two short Signals long Signal

Acoustic Signal out of Origin
* No Signal, short Signal, two short Signals long Signal

Neutral Position
„Vertical" or „Horizontal"

I’

[2019-10-04 15:12] SukramJ commented on #237
Thanks, i meant the hmip config you posted in #114.

[2019-10-04 15:20] SukramJ commented on #237
I start with a binary_sensor that displays accelerationSensorTriggered.
Device_class will be DEVICE_CLASS_MOVING.

Additional values displayed as attributes:
- accelerationSensorNeutralPosition
- accelerationSensorMode
- accelerationSensorSensitivity
- accelerationSensorTriggerAngle

I am not sure about the additional attributes, if they give a useful info to support the accelerationSensorTriggere

[2019-10-04 16:00] FlavorFx commented on #237
ok, I created four new gists

on with „sensor in origin“ one with „sensor out of origin“, one with „No movement“ and one with „movement“

<script src="https://gist.github.com/FlavorFx/81a132073629170874d28557bea0506a.js"></script>

<script src="https://gist.github.com/FlavorFx/8edd78ca230d63fd7ace8551dbbd6f08.js"></script>

<script src="https://gist.github.com/FlavorFx/7cde538036e5b875cffaca55d1b2

[2019-10-04 20:42] SukramJ commented on #237
Thanks a lot.

[2019-10-05 07:07] SukramJ commented on #237
The PR is already merged to dev. HmIP-SAM will be available in HA with 0.101.

[2019-10-19 13:26] #190 closed

[2019-11-06 19:21] SukramJ opened #258 "EXTENDED_LINKED_SHUTTER implementation details missing?"
Hi,
i've searched for a definition of an `EXTENDED_LINKED_SHUTTER` (`ExtendedLinkedShutterGroup`) and found it in #198.
It looks like `shutterLevel` is not used. (??)
Instead it looks like `topShutterLevel` and `topSlatsLevel` are the one to be used.
Could you please check if there are also service calls to control the `slatsLevel`?
Like `device/control/setSlatsLevel?`

BR
Markus

[2019-11-06 20:50] coreGreenberet commented on #258
top/bottom shutter/slats level are configured/calibrated.
slats/shutterLevel should be the current one. To be honest I don't know why it was null here

there are /group/switching/setGroupShutterLevel and /group/switching/setGroupSlatsLevel

both require a groupId & shutterLevel
setGroupSlatslevel requires an additional slatsLevel parameter (similiar to /device/control/setSlatsLevel)

I can impleme

[2019-11-06 21:10] SukramJ commented on #258
I don't own it too, so i rely on your work.
Do you know someone how could test it?

[2019-11-06 21:41] coreGreenberet commented on #258
I've implemented the slats level request in PR #259
Maybe I can find someone to test it, before I merge it

[2019-11-07 06:40] SukramJ commented on #258
Thanks.

[2019-11-07 06:40] #258 closed

[2019-11-19 19:09] steckenpferd opened #265 "Please delete - by mistake"
Ups please delete

[2019-11-19 19:26] #265 closed

[2019-11-19 20:21] SukramJ commented on #265
Hi @coreGreenberet, please have a look at the SGTINs from Silvercrest.
They start with 30150377 and are currently not covered by the anonymize function.

[2019-11-19 21:08] coreGreenberet opened #266 "Anonymize won't work on the Silvercrest models"
From #265
Hi @coreGreenberet, please have a look at the SGTINs from Silvercrest.
They start with 30150377 and are currently not covered by the anonymize function.

@SukramJ
could you please provide me a full id? Are they the same length? Do they have any special characters?

[2019-11-19 21:12] SukramJ commented on #266
I saw it in the output of #265. Same length, no special characters.

[2019-11-19 21:30] steckenpferd commented on #266
Just in case you need it
[OUTPUT.txt](https://github.com/coreGreenberet/homematicip-rest-api/files/3866173/OUTPUT.txt)

[2019-11-20 17:36] steckenpferd opened #270 "add HMIP-eTRV-B"
Hi,

had a HMIP-eTRV-B and added it to the Access Point.

Here the data so you could check and mark it in the readme as added.

[HMIP-eTRV-B.txt](https://github.com/coreGreenberet/homematicip-rest-api/files/3870492/HMIP-eTRV-B.txt)

[2019-11-24 10:32] coreGreenberet commented on #266
fixed with pr #267

[2019-11-24 10:32] #266 closed

[2019-11-27 18:53] Swiftnesses opened #272 "Add support for garage door module (HmIP-MOD-TM) (dump attached)"
As per our conversation on the HA community forums, here's the dump...

[hmip-config_0831.json.zip](https://github.com/coreGreenberet/homematicip-rest-api/files/3898392/hmip-config_0831.json.zip)

[2019-11-27 18:58] Swiftnesses commented on #272
For reference I found this:
https://github.com/danielperna84/pyhomematic/issues/170

[2019-11-28 07:13] SukramJ commented on #270
This device cannot be used with Home-Assistant?
Just from reading the spec i see no diffrence to existing TRVs.

[2019-11-28 07:17] steckenpferd commented on #270
Im not saying that - im saying is not marked on the readme page of github - therefore here the config

[2019-11-28 07:30] SukramJ commented on #270
Fine

[2019-11-28 08:19] viruz82 opened #273 "Openhab Integration"
Hallo,

sorry, dass ich hier schreibe, aber ich weiß sonst nicht, wo. Gibt es eine Möglichkeit der Integration in Openhab? Ich finde leider nichts dazu.

[2019-11-28 08:32] steckenpferd commented on #273
Nope - da musst du dich an Openhab Stellen wenden - das hier ist nur eine Community Dokumentation der API Schnittstelle

[2019-11-28 08:33] steckenpferd commented on #270
When nothing is missing in the Rest-API documentation then the device could be marked at the readme and this issue should be closed

[2019-11-28 08:34] viruz82 commented on #273
Ok, ich hab's befürchtet. Danke für die Info.

[2019-11-28 08:34] #273 closed

[2019-11-28 08:36] steckenpferd commented on #273
Alternative zu Openhab - Home Assistant oder ioBroker - hier wurde die Dokumentation eingebaut

[2019-11-28 09:21] SukramJ commented on #270
The channels (HEATING_THERMOSTAT_CHANNEL, DEVICE_OPERATIONLOCK) already exists, so there is nothing new for the api docs. Just update the ReadMe.

[2019-11-28 14:05] steckenpferd commented on #270
https://github.com/coreGreenberet/homematicip-rest-api/pull/274

[2019-11-28 14:05] #270 closed

[2019-12-02 21:18] GLichtenauer opened #275 "HMIP-BSL LED nicht steuerbar"
Hallo, leider kann man beim HMIP-BSL die 2 LEDs (obere / untere Taste) nicht steuern und die Farbe ändern. Wäre super wenn das noch integriert werden könnte.

VG
Günter

[2019-12-02 21:58] coreGreenberet commented on #275
Hallo,
hast du es schon mit Async/BrandSwitchNotificationLightset_rgb_dim_level probiert?

[2019-12-10 12:24] steckenpferd commented on #272
@coreGreenberet can this not be added to the REST-API docu? Do you need sth more?

[2019-12-10 12:59] coreGreenberet commented on #272
I  think so.
Currently work is a little bit to time consuming. I will look into it as soon as I can.

[2019-12-10 13:14] steckenpferd commented on #272
Thank you for the feedback

[2019-12-15 07:45] saschaabraham opened #276 "Doesn't working on python 3.5 because of one line using python 3.6 syntax"
Hello,
installed the library via
`pip3 install -U homematicip` on a raspberry pi 3 with debian stretch without any errors..
This distro has python 3.5.3.

So the line 19 in homematicip-rest-api/homematicip/base/base_connection.py  in the master branch created an error because of the f" formatting from python 3.6.

I have changed the line from

`return f"HmipWrongHttpStatusError({self.status_code})

[2019-12-15 10:43] SukramJ commented on #275
Die Steuerung der LEDs funktioniert ohne Probleme.

[2019-12-15 10:51] GLichtenauer commented on #275
Sorry war die falsche Adresse....

[2019-12-15 10:51] #275 closed

[2019-12-15 16:43] coreGreenberet commented on #276
Sorry but python 3.5 has been abonded.
I didn't replace the existing string replacements yet, but thats on my list.
Python 3.5 came out 4 years ago. Sometimes you have to move forward to use new features =)

[2019-12-15 16:43] #276 closed

[2019-12-22 07:00] saschaabraham commented on #276
I was not talking about changing the one line, that produces the error with python 3.5 alone.
The problem was, the installation with pip3 install -U homematicip shows no error, no complaining about python 3.5, but installs a library that needs python 3.6. That is the problem.

Ich habe nicht nur von der einen Codezeile gesprochen, welche den Fehler mit python 3.5 auslöst.
Das Problem ist, dass bei

[2019-12-22 20:11] #272 closed

[2019-12-27 22:49] weinbrand opened #280 "HmIP-WHS2 integrieren"
Bitte Heizungsaktor 2 fach integrieren.

[hmip-config_1B11.txt](https://github.com/coreGreenberet/homematicip-rest-api/files/4006408/hmip-config_1B11.txt)

[2019-12-27 22:51] weinbrand opened #281 "HmIP-FALMOT-C12 integrieren"
Bitte Fußbodenheizungsaktor integrieren.

[hmip-config_1B11.txt](https://github.com/coreGreenberet/homematicip-rest-api/files/4006410/hmip-config_1B11.txt)

[2019-12-27 23:17] bonsaijogi opened #282 "HmIP-PMFS"
Please integrate HmIP-PMFS - Plugable Power Supply Monitoring

[hmip-config_CE6F.txt](https://github.com/coreGreenberet/homematicip-rest-api/files/4006919/hmip-config_CE6F.txt)

[2019-12-29 10:50] Swiftnesses commented on #272
Thank you so much for this, when can I expect to see support in hass.io?

[2019-12-29 12:55] coreGreenberet commented on #272
the best would be to ask @SukramJ. He is implementing the library on hass.io

[2019-12-29 18:42] SukramJ commented on #272
HA 0.104.0 will be release 15.1.2020
You could start testing the beta 8.1.2020

[2019-12-30 10:33] #280 closed

[2019-12-30 10:33] #281 closed

[2019-12-30 10:33] #282 closed

[2020-01-07 16:40] SukramJ commented on #282
HmIP-PMFS will be available with next HA beta and will be released with 0.104.0.

[2020-01-07 16:40] SukramJ commented on #280
HmIP-WHS will be available with next HA beta and will be released with 0.104.0.

[2020-01-07 16:42] SukramJ commented on #281
There is nothing to add to Home-Assistant for this device. The functionality is made available by the required wall thermostats.

[2020-01-12 19:48] swisschocolate opened #286 "Implementing of HMIP-WTH-B"
Any plans to implement the HMIP-WTH-B Homematic IP Wall Thermostat basic? Would be great!

[2020-01-13 22:22] coreGreenberet commented on #286
Sadly I don't have this device at home. Could you provide a configuration example?
see #114 for details

[2020-01-13 22:35] swisschocolate commented on #114
HMIP-WTH-B Wall  mounted thermostat basic
https://gist.github.com/swisschocolate/3a174a6c15fa4437122123ce4cf2ee0c

[2020-01-13 22:36] swisschocolate commented on #286
https://gist.github.com/swisschocolate/3a174a6c15fa4437122123ce4cf2ee0c

[2020-01-14 20:42] #286 closed

[2020-01-16 12:34] swisschocolate commented on #286
Wow! Thanks for this very quick commit! I'm excited!

[2020-01-18 21:56] steckenpferd opened #290 "Add ALpha IP Thermostats "ALPHA-IP-RBG" and ALPHA-IP-RBGa"
Möhlenhoff has the ALPHA IP series which also work with the Homematic IP Access Point and App.

I just got 2 for test cases and here is the log.

"ALPHA-IP-RBG"
![grafik](https://user-images.githubusercontent.com/39061622/72671089-a72b2b00-3a45-11ea-9e08-ecc45b03d172.png)

"ALPHA-IP-RBGa"
![grafik](https://user-images.githubusercontent.com/39061622/72671113-c32ecc80-3a45-11ea-8c0f-82c45efcbe12.png

[2020-01-19 19:01] steckenpferd commented on #290
I created a Pull Request for the List for the new Alpha IP and Homematic IP devices:
https://github.com/coreGreenberet/homematicip-rest-api/pull/291

[2020-01-25 18:50] bonsaijogi opened #292 "Wall-mount Remote Control for brand switches (HmIP-BRC-2)"
Today I noticed that the HmIP-BRC-2 is not integrated in Home Assistant. It is listed together with the WRC-2, but does not appear in HA.

It would be nice if the HmIP-BRC-2 wall switch could also be integrated.

Thank you very much

[hmip_config.txt](https://github.com/coreGreenberet/homematicip-rest-api/files/4112461/hmip_config.txt)

[2020-01-26 10:40] SukramJ commented on #292
HmIP-BRC2 is already added to this lib, but there is nothing to be added to HA.
WRC2 is only visible by its battery binary_sensor.

The Pushbutton functionality cannot be used by HA, because the eQ-3-API does nor deliver any useful information like which button has  been pressed or how (short/long).
As long as eQ-3 does not update their API there is nothing to be done here or HA.
BR

[2020-01-26 12:08] bonsaijogi commented on #292
ah, OK, i understand, thanks anyway

[2020-01-26 12:09] #292 closed

[2020-02-01 22:57] coreGreenberet opened #294 "hmip_cli.py --anonymize will wrongly anonymize other fields"
"availableFirmwareVersion" -> 3014F7110000000000000001

supportedOptionalFeatures:
`                    "supportedOptionalFeatures": {
                        "3014F7110000000000000002": false,
                        "IFeatureDeviceCoProRestart": false,
                        "IFeatureDeviceCoProUpdate": false,
                        "3014F7110000000000000003": false,
                        "3

[2020-02-01 23:17] #294 closed

[2020-02-11 14:51] #290 closed

[2020-02-11 20:09] SukramJ opened #297 "home.json missing in pypi"
Hi @coreGreenberet,
with #215 i added the home.json to Manifest.in to add  it to the pypi build.
This works locally when i execute `pip wheel .`, but it is not included in the offical pypi build.
Any idea why?

BR

[2020-02-11 20:43] coreGreenberet commented on #297
I've just downloaded the tar.gz from pypi and it is included there.

[2020-02-11 20:57] SukramJ commented on #297
tar.gz is source, not the wheel.

[2020-02-11 21:47] coreGreenberet commented on #297
I know, but i was only on my mobile and couldn't check the whl. However I've found the issue. It has to be mentioned in the setup.py

see https://github.com/coreGreenberet/homematicip-rest-api/commit/72500c67679845a958e4ee0ad7fac3e6b7c41ccd

[2020-02-11 21:48] #297 closed

[2020-02-17 11:10] #7 closed

[2020-03-08 22:59] k-0 opened #303 "Voltage from devices"
Is it possible to show the battery voltage from the devices?
I found nothing in the documentation.

[2020-03-10 08:29] coreGreenberet commented on #303
Sadly no =(
we can only see if they are empty or not

[2020-03-10 08:35] #303 closed

[2020-03-12 17:27] BramSnoodijk opened #304 "HmIP-MOD-HO"
"devices": {
        "3014F7110000000000000000": {
            "availableFirmwareVersion": "0.0.0",
            "firmwareVersion": "1.0.14",
            "firmwareVersionInteger": 65550,
            "functionalChannels": {
                "0": {
                    "coProFaulty": false,
                    "coProRestartNeeded": false,
                    "coProUpdateFailure": false,

[2020-03-18 06:39] ahilles107 opened #306 "403 error on connection to homematic ip cloud"
In my HomeAsistant logs i have
[code]

And response with code 403 from homematic ip cloud.

[2020-03-18 13:56] coreGreenberet commented on #306
I'ts working fine for me. Did you remove HomeAssistant from the client list?
I would try to reintegrate the access point into HA.

[2020-03-18 13:58] ahilles107 commented on #306
it started to work again today (on our local HA group many people reported this also). Thanks for checking!

[2020-03-18 13:58] #306 closed

[2020-03-18 14:52] steckenpferd commented on #306
I guess the reason was the yesterday’s server update by EQ3

[2020-03-23 22:19] kremers opened #308 "Not able to get token - hmip_generate_auth_token.py hangs"
Hi there,

i try to get a token, but the script seems to hang. hmip_generate_auth_token.py
Please enter the accesspoint id (SGTIN): 3014-f711-a000-1f9a-499d-XXXX

hanging forever, with the stable and pre version ^^

[2020-03-25 16:57] coreGreenberet commented on #308
are you still having this problem? I've just tried it with my AP and it is working fine

[2020-03-25 21:20] coreGreenberet commented on #304
Could you please provide me some additional informations?
I'm guessing that you can force the door to open, close, stop and ventilation/partial_open ist that correct?

I can see an "on" value for the door and also that the app has a Switch for it. What exactly can you turn on/off on the door?

[2020-03-26 08:19] #304 closed

[2020-03-30 19:08] kremers commented on #308
still the same issue :(

[2020-03-31 10:04] coreGreenberet commented on #308
Please check if your AP is connected to the cloud and that the SGTIN doesn't contain a typo.

I got the same result, when I use an incorrect SGTIN

[2020-04-18 13:01] helfm opened #310 "HomeMaticIP - HmIP-FSI16 is missing"
Dear developers,

unfortunately I cannot integrate the switching actuator of HomeMaticIP (**HmIP-FSI16**) in the Home Assistant.
According to your description I may ask you on this way to develop an integration or extension of the API interface.
Unfortunately I can't provide the dump requested by you, because I can't select the entry: "homematicip_cloud.dump_hap_config" in the developer tools unde

[2020-04-18 13:29] Neisi commented on #310
+1

[2020-04-18 15:36] tose60 opened #311 "HmIP-SWDO-PL not working"
Attached today a HmIP-SWDO-PL (window sensor with 2 batteries) to my HomeMatic IP system. "Home Assistant" does not recognize / discover the contact sensor. However, the battery sensor of the device is visible.

Attached you find to screen shots.

The first screen shot HmIP-SWDO-PL.png does show how the new HmIP-SWDO-PL is shown.  (the sensor is missing, only the battery status is displayed).

The

[2020-04-18 16:10] tose60 commented on #311
To document the case, you find attached the Homematic IP dump of this installation as well.
[hmip-dump.zip](https://github.com/coreGreenberet/homematicip-rest-api/files/4496966/hmip-dump.zip)

[2020-04-18 16:10] #311 closed

[2020-04-18 16:12] coreGreenberet commented on #310
Sorry I would need the configuration to implement it.

[2020-04-18 16:41] helfm commented on #310
Thx for this very fast response.

How i can get this "homematicip_cloud.dump_hap_config" service to my hassio configuration?

regards Markus

[2020-04-18 16:43] SukramJ commented on #310
Are you admin in your HA?

[2020-04-18 18:27] Neisi commented on #310
Which part of the json file do you need? Here is the device part of HmIP-FSI16:

`       "xxxxxxx": {
            "availableFirmwareVersion": "0.0.0",
            "connectionType": "HMIP_RF",
            "firmwareVersion": "1.16.2",
            "firmwareVersionInteger": 69634,
            "functionalChannels": {
                "0": {
                    "coProFaulty": false,
                    "

[2020-04-18 18:35] SukramJ commented on #310
Please use the output of the dump. This dump is already anonymized, so no further replacement with xxx is needed. It is enough to send the device section of the fsi, but leave it in a file (formatted). Then upload it to https://gist.github.com/ and add a link here.

[2020-04-18 18:42] Neisi commented on #310
https://gist.github.com/Neisi/213c24fb38f816e9a5cd5e5d36c089d5

[2020-04-19 08:32] helfm commented on #310
Thank you for your support Neisi, SukramJ and CoreGreenberet.

You're all doing a great job -  many thx.

regards Markus

[2020-04-21 18:07] zeph commented on #114
here is mine... it does have several devices
https://gist.github.com/zeph/1e1cce52ba2ad2ad8120863dbfeb150d
... I actually would love to combine it with another AP I installed in my cellar... in order for example to add a single entry in my 8button remote just to disable security in that AP, without buying a dedicated remote (i got there via IP over 220v devices...modern apartment have the lines on

[2020-04-21 18:25] zeph commented on #114
and here is the cellar one... with a water sensor
https://gist.github.com/zeph/6f0bffd303b54f42d61274bb4a5f20db

[2020-04-24 09:20] JogiBarbarski opened #313 "HomeMatic IP Cloud-Zugriffspunkt no green"
Hello, first of all many thanks for the great job you did there. I can't get the HMIP adapter to work. It is not possible to save the settings after entering the adapter data. And the errors from the log of the Raspberry Pi 4 look like this. Software and Raspberry Pi 4 are up to date. Best regards and thanks for everything.
hmip.0	2020-04-24 11:06:11.067	error	(8452) error starting homematic: Erro

[2020-04-24 09:41] steckenpferd commented on #313
Hi - here is not the ioBroker support- please ask your questions here: https://github.com/iobroker-community-adapters/ioBroker.hmip

Thank you

[2020-04-24 09:48] JogiBarbarski commented on #313
OK sorry. Have a good time

[2020-04-24 10:35] #313 closed

[2020-04-29 19:20] h3ad912 opened #314 "HmIP-FSI16"
The New device FSI16 is not available.

[2020-04-29 19:24] h3ad912 commented on #314
Sorry seen to late that there still is an issue #310

[2020-04-30 05:26] #314 closed

[2020-04-30 06:22] thecem commented on #281
You are right, at the moment the functionality is made by the wall thermostats.
But it is relevant to have the valve positions and even the config in HA to get some automations running.
So it is possible to get at least the valve positions into HA?
Thx

[2020-04-30 06:26] SukramJ commented on #281
No, there is no valve position in HmIP-API for falmot.

[2020-04-30 08:17] thecem commented on #281
So, there is no possibility to get the valve status out of the falmot with hmip-hap ?

[2020-04-30 18:14] coreGreenberet commented on #281
@thecem I don't have a falmot at home. If you could provide us a new configuration dump, then we could check it again. Maybe EQ3 has added the missing value in the meantime

[2020-04-30 19:37] thecem commented on #281
Attached the dump! thx

[hmip-config_C0D1.txt](https://github.com/coreGreenberet/homematicip-rest-api/files/4560812/hmip-config_C0D1.txt)

[2020-05-01 08:13] coreGreenberet commented on #281
sadly still not available =(

[2020-05-01 08:48] thecem commented on #281
Ya, I’ll keep an ey on that. Maybe with the next firmware. thx

[2020-05-09 15:04] tose60 opened #315 "Home Assistant does not support "Homematic IP Window / Door Contact - optical, plus""
Tried to integrate a "Homematic IP Window  / Door Contact - optical, plus" into my setup.
(door contact with two batteries). This device seems not to be supported yet. I get the following error message in "Home Assistant".

'SHUTTER_CONTACT_OPTICAL_PLUS' isn't a valid option for class 'DeviceType'
16:28:03 – components/homematicip_cloud/hap.py (WARNING)

'SHUTTER_CONTACT_OPTICAL_PLUS' isn't a vali

[2020-05-13 20:39] helfm opened #316 "Can not integrate HmIP-FROLL"
Dear members,

I have problems integrating a HomeMatic-IP device: Shutter actuator for flush-mount (HmIP-FROLL)

According to the page: https://www.home-assistant.io/integrations/homematicip_cloud/, the integration should be possible.
Unfortunately the device is not shown in the entity list.

Does anyone know the solution?

My Configuration:
RaspberryMatic 3.51.6.20200420
HassOS 3.13
Home Assistan

[2020-05-13 20:43] coreGreenberet commented on #316
The given module is for homematicip with an access point. Not with (O)CCU!

[2020-05-13 20:43] #316 closed

[2020-05-13 20:44] helfm commented on #316
I dont know why, after 2 hours it is in hassio. No action needed.

thx

[2020-05-13 20:44] coreGreenberet commented on #315
I don't have the device. Could you please post your (anonymized) ap configuration?

[2020-05-13 21:20] tose60 commented on #315
Attached the requested (anonymized) HomeMatic AP configuration file.

[hmip-config_477F.json.txt](https://github.com/coreGreenberet/homematicip-rest-api/files/4624717/hmip-config_477F.json.txt)

[2020-05-25 19:20] helfm commented on #310
Hi colleagues,

I do not want to stress the topic, just ask if there are already news on this topic?
Sorry about the inquiry, I know I'm impatient.

Best regards Markus

[2020-05-25 22:09] Phreak87 opened #317 "Offtopic: Reverse Engeneering"
Great work!

can you please tell something about how you got the implementation details from
the cloud connection? havo you soldered out some ic`s or just by listening to the
communincation from a mobile phone? which tools you have used for this?
i like to go deeper into this device - and maybe i find something to raise the Alarm.

thank you so much for this great library!

[2020-05-28 09:17] coreGreenberet commented on #310
Sorry I haven't had time for this yet. I think I can implement this on the weekend in the library. After that @SukramJ can put it into home assistant

[2020-05-29 12:32] helfm commented on #310
Thx for your response coreGreenberet.

regards Markus

[2020-05-29 22:07] coreGreenberet commented on #317
I've started with Charles/Fiddler (HTTPS Proxy) and listened to the communication between my phone and the cloud.
However sooner or later I had to decompile the apk and I had to implement the needed methods from the decompiled java source basically because of 3 reasons
1) EQ3 had started to use certificate pinning, so my root ca from fiddler/charles wasn't working anymore
2) EQ3 has changed the ha

[2020-05-29 22:26] Phreak87 commented on #317
Great!

thank you for the information. I try to port your Project to C# for integrations
to other Home-Automatism Software. EQ3 makes also a very good job and make
the system very secure. Have you ever tried to modify the Firmware of the AP?
That would be great if this would work. because i hate all the insecure
cloud-based hardware.

[2020-05-30 09:58] coreGreenberet commented on #317
Nope, my intention wither api was never to modify the firmware or to replace the cloud.
I've started with it, because I had a water well for the cats and it was too loud in the night. So i shut it down via a cronjob at midnight 😂

[2020-06-07 20:54] #310 closed

[2020-06-07 20:54] #315 closed

[2020-06-08 00:46] steckenpferd commented on #317
@Phreak87 there is already a gihub page for the HmIP Cloud C# porting exisitng
https://github.com/larsbeck/HomematicIp

[2020-06-11 09:34] #317 closed

[2020-07-01 19:43] Neisi commented on #310
@SukramJ , has the FSI16 been integrated in the HA commit #36595 ? unfortunately I miss this one there, could it be? Thanx

[2020-07-02 07:56] SukramJ commented on #310
@Neisi that's correct. #320 must be releases before integration of FSI16 in HA can happen.

[2020-07-07 23:42] coreGreenberet commented on #310
ah sorry i thought i'Ve packed that already in a new release.
i think I have time for that on thurstday

[2020-07-18 13:07] steckenpferd opened #322 "HmIPW - config"
Hi,

Can anybody share his HmIPW config?

https://technikkram.net/blog/2020/06/10/homematic-ip-wired-neues-zur-einrichtung-mit-der-homematic-ip-app/

[2020-07-21 09:16] mengelh commented on #114
https://gist.github.com/mengelh/6b62bcbbf3c112779a6231802fc8f1d1

[2020-07-21 09:17] mengelh commented on #114
https://gist.github.com/mengelh/8701efaa8c06f47a2c56e776a6982630

[2020-07-24 17:06] bonsaijogi commented on #114
New: HmIP-HDM1 - Blind Module from Hunter Douglas powered by Homematic IP
[hmip-config_1763.txt](https://github.com/coreGreenberet/homematicip-rest-api/files/4973350/hmip-config_1763.txt)

[2020-07-25 09:57] helfm commented on #310
Hi @Neisi,

I'm not sure I'm getting this right. Will this expansion be part of an upcoming Hassio version? Can you say which version that will be?

Regards Markus

[2020-07-25 09:59] Neisi commented on #310
Works fine from 0.113.0

[2020-07-25 10:11] h3ad912 commented on #310
Workshop fine by ne, too.

Thank you 👍🏼

[2020-07-25 10:36] helfm commented on #310
@Neisi, thx.

Hmmm, Gotta look again. Can't find it.

Regards Markus

[2020-07-26 09:22] helfm commented on #310
Maybe someone can give me a tip.

I use a Raspberry with the RaspberryMatic version: 3.51.6.20200621

The HomeAssistant software runs on another Raspberry with version: 0.113.1

When I integrate the HmIP-FSI16 into the RaspberryMatic, it still does not appear in HomeAssistant. This should work now on the hassio version: 0.113.1.
What am I doing wrong?

thx in advance Markus

[2020-07-26 20:36] coreGreenberet commented on #310
raspberrymatic is the issue here. this library is for using homematicip with the access point and not with the (O)CCU

[2020-07-28 14:24] helfm commented on #310
Thanks coreGreenberet,

That means I need an extension in the RaspberryMatic version?

All previous components are recognized and work without problems.

Regards Markus

[2020-07-28 18:27] Neisi commented on #310
Home assistant has two homematic integrations.
"Homematic" (   https://www.home-assistant.io/integrations/homematic/  ) and "homematic IP cloud" (https://www.home-assistant.io/integrations/homematicip_cloud/).
You use the first one? This uses pyhomematic -> https://github.com/danielperna84/pyhomematic
There is also an open issue with the FSI16 (https://github.com/danielperna84/pyhomematic/issues/2

[2020-07-29 08:06] mengelh commented on #322
Hello,

the integration of the HmIPW-DRAP into the Homematic IP App described in the linked article works for me without problems, exactly as described in the article.

Greetings

[2020-07-29 14:41] MartinHjelmare opened #325 "Requirement is pinned for homematicip 0.10.19: requests==2.23.0"
- This library supports an integration in Home Assistant.
- The upcoming pip resolver will be more strict in resolving package version conflicts:
http://pyfound.blogspot.com/2020/03/new-pip-resolver-to-roll-out-this-year.html#what-will-change
- To avoid future issues it would be good if this library would change its pinning to allow any higher version and just set a minimum version.

Thanks for yo

[2020-07-29 16:41] #325 closed

[2020-08-02 19:02] helfm commented on #310
Thx Neisi

[2020-08-11 07:56] steckenpferd commented on #322
@mengelh perfect - can you than share your anonymous config?

See here how to:
https://github.com/coreGreenberet/homematicip-rest-api/issues/150

[2020-08-20 13:26] monotonus opened #326 "Optional Device Feature 'xyz' is not yet supported"
Original issue is here: https://github.com/home-assistant/core/issues/39046

Here is my dump file: [hmip-config_CCFD.zip](https://github.com/coreGreenberet/homematicip-rest-api/files/5103322/hmip-config_CCFD.zip)

[2020-08-28 10:43] rschoell opened #328 "enable angle sensor HMIP-STV"
Dear developer's,
thanks for delivering such a great addon. I've recently purchased an acceleration and angle sensor HMIP-STV.
if you could please add this to the devices. I'm using the angle mode.
you'll need to evaluate, if "accelerationSensorTriggered" is true or false.

Please find attached the dumps from HMIP
[hmip-config_586C_angle_detected.json.txt](https://github.com/coreGreenberet/homemat

[2020-08-30 20:34] coreGreenberet commented on #322
@mengelh thanks. Will be implemented in PR #327

[2020-08-30 21:21] #322 closed

[2020-08-30 21:21] #328 closed

[2020-08-31 04:56] rschoell commented on #328
Thank you very much for the quick implementation. I much appreciate your hard work on this!
Will this be live in the next release then?

[2020-08-31 10:00] coreGreenberet commented on #328
well there is currently an issue with the test suite. It's failing on circleci, but running fine on my machines. As soon as this is working fine I will publish a new release

[2020-08-31 12:04] steckenpferd commented on #322
@SukramJ can you add now HmIPW-DRAP and the HMIPW devices to Home Assistant?

[2020-08-31 12:10] coreGreenberet commented on #322
sadly not yet. there is something wrong with running the test suite :/
it works fine running them at home or single tests on linux, but running the whole suite generates errors :/

[2020-08-31 12:42] SukramJ commented on #322
Hi @steckenpferd ,
i think it requires some PR to add the functionality to HA, after this lib has been **released**.

1. update dependency for this lib (get rid off lots of warnings in the HA log)
2. Add HmIP-STV
3. add options to HA config_flow to allow HmIP-devices with multiple channels like (HMIP-MOD-OC8 an especially the HMIPWxxx) to be split to multiple HA-devices. This allows individual are

[2020-08-31 12:57] #326 closed

[2020-08-31 13:04] coreGreenberet commented on #322
yay I finally got it to work, so this can now be implemented in ha =)

[2020-09-09 07:43] rschoell commented on #328
Great work! I installed the prerelease of HomeAssistant and the hmip-stv works as expected!!!

[2020-09-13 13:48] bonsaijogi opened #332 "Blinds Module HmIP-HDM1"
Please integrate the new Blinds Module HmIP-HDM1 from Hunter Douglas powered by Homematic IP.
Until now only the battery charge is displayed.

Thanks

[hmip-hdm1.txt](https://github.com/coreGreenberet/homematicip-rest-api/files/5214163/hmip-hdm1.txt)

[2020-09-21 16:04] eL-Zotto opened #333 "Home Assistant installed on Synology DS918+ not polling Homematic-IP"
Hello

I installed and configured Home Assistant on my Synology DS918+ yesterday. I used the homeassistant package and NOT hassio!
I can open the page on port 8123 and went through the first steps, where I integrated my Homematic-IP AccessPoint.
I see all my Homematic devices and grouped them according the rooms they are located in.
When I chack a temperature senor, I only see 1 tick (measured val

[2020-09-21 17:07] coreGreenberet commented on #333
Hello,

Pleaso open the issue in https://github.com/home-assistant/core

This is just the backend library which gets used by home assistant.
My guess is that HA cant do the connection to the websocket.

[2020-09-21 17:07] #333 closed

[2020-09-27 12:03] SukramJ opened #335 "Config dump with newer AP FW"
Hi,

i updated an AP with the latest FW (over CCU)
[Here](https://gist.github.com/SukramJ/e08c3b52014bbd7268d4b5643204987d) is a new dump.

Noteworthy is a dedicated device for the AP

BR

[2020-09-27 12:51] coreGreenberet commented on #335
The cloud firmware/settings are having this too already.
Its also in the current head =)
[code]

[2020-09-29 04:51] SukramJ commented on #335
Hi,

there is no HOME_CONTROL_ACCESS_POINT and no ACCESS_CONTROLLER_CHANNEL in current head!

BR

[2020-09-29 11:10] coreGreenberet commented on #335
Oh I've overseen that

[2020-10-09 12:18] Scuby4ever opened #337 "Max retries exceeded with url"
HI since some days I got the following log entry when trying to get the current status of my homemtic devices:

Traceback (most recent call last):
  File "/etc/openhab2/automation/jsr223/01_homematic/heizungbuerooben.py", line 18, in <module>
    main()
  File "/etc/openhab2/automation/jsr223/01_homematic/heizungbuerooben.py", line 15, in main
    home.get_current_state()
  File "/home/openhab/.lo

[2020-10-09 15:56] coreGreenberet commented on #337
Connection Refused looks more like an network error here. Are you sure that the script can still access the hmip servers on the high ports?
How often are you calling this script? Maybe you are doing it to often and EQ-3 is blocking you here.

[2020-10-16 17:59] Scuby4ever commented on #337
High ports are fine so far.. Do you know what the max frequency of request is ? At the moment I am trying it every 60sec.

[2020-10-21 08:43] HansDampfwurst opened #340 "'HOME_CONTROL_ACCESS_POINT' isn't a valid option for class 'DeviceType'"
## The problem

Logger: homematicip.base.enums
Source: /usr/local/lib/python3.8/site-packages/homematicip/base/enums.py:33
First occurred: 20. Oktober 2020, 13:57:26 (1754 occurrences)
Last logged: 10:14:48

    'HOME_CONTROL_ACCESS_POINT' isn't a valid option for class 'DeviceType'
    'ACCESS_CONTROLLER_CHANNEL' isn't a valid option for class 'FunctionalChannelType'

## Environment

- Home Assis

[2020-10-21 08:50] HansDampfwurst commented on #340
[hmip-config_4668.zip](https://github.com/coreGreenberet/homematicip-rest-api/files/5414542/hmip-config_4668.zip)

[2020-10-21 12:55] coreGreenberet commented on #340
Danke, das wurde bereits eingemeldet. Ich bin nur leider noch nicht dazu gekommen es einzubauen.

Duplicate of #335

[2020-10-21 12:55] #340 closed

[2020-10-23 15:01] chgoeldi opened #341 "How to get the valve signal of HMIP-BWTH via API?"
Does the API reveal the valve signal of the Wall Thermostat HMIP-BWTH? Or how can one read from the API whether the valve is currently open or not?

[2020-10-23 15:27] coreGreenberet commented on #341
Well the BWTH doesn't have a valve. You would need to reed the attributes of the e.g. HMIP-eTRV.

The [valvePosition](https://homematicip-rest-api.readthedocs.io/en/latest/homematicip.html#homematicip.device.HeatingThermostat.valvePosition) attribute contains that information.

[2020-10-23 16:15] chgoeldi commented on #341
Wow, thanks for the quick reply!
Yes, I know that the Thermostat doesn't have a valve itself. But it gives the valve a signal via wire. Question is whether that signal can be read from the BWTH somehow (it also doesn't shop up in the App).

[2020-10-24 07:20] StevusPrimus opened #342 "NameError: name 'xrange' is not defined on Python 3.8.1"
Hey!

When calling update_profile() on HeatingCoolingProfile I get the error NameError: name 'xrange' is not defined.
A quick research says it does not not exist anymorw in python 3. Can you check it please?
I can also fix it and send a pull request, if I not misslead 👍

https://stackoverflow.com/questions/17192158/nameerror-global-name-xrange-is-not-defined-in-python-3

Best regards Stefan!

[2020-10-24 07:38] StevusPrimus commented on #114
https://gist.github.com/StevusPrimus/102aa85feffb57d880c8becee6b80314
For changing Heating profiles

[2020-10-25 14:04] #342 closed

[2020-10-27 22:15] flammermann opened #345 "Access Point is not a valid Device"
I receive the following warnings since this noon, it could be related to an Homematic IP app update (version 2.4.3) that came in today for me.

[code]

[code]

Could you help me understand where there warnings are coming from and how to resolve the underlying problem(s)?

[2020-10-29 17:09] coreGreenberet commented on #341
The BWTH has a "INTERNAL_SWITCH_CHANNEL" functional Channel. Which has an "internalSwitchOutputEnabled" attribute. I don't have one, so I can't test it, but maybe you can get the desired value from there

[2020-10-29 18:07] coreGreenberet commented on #345
There was an update of the cloud and I haven't had time to catch it up yet.
At the moment you can just be patient until I've updated the library. I try to get it done on the weekend.

This got already reported it #335

[2020-10-29 18:07] #345 closed

[2020-10-29 18:08] coreGreenberet commented on #337
60 seconds should be fine. I have a script running via a cron every minute. So far I haven't had any issues with it

[2020-10-31 13:47] chgoeldi commented on #341
Thanks a lot for the hint. Unfortunately, the attributes in the "INTERNAL_SWITCH_CHANNEL" all only refer to settings and not to the values calculated within the BWTH or the signal it then derives to steer the valve. As far as I understand the "internalSwitchOutputEnabled" setting turns the valve signal on or off (it also can be set via App).
Any other ideas whether and how it can be read from the

[2020-10-31 18:10] flammermann commented on #345
Sorry I didn't see the issue 335 before, thanks for the hint.
Also thanks for all the great work you have done so far!

[2020-10-31 21:26] shakerCH opened #346 "Adding support for HmIP-WGC (Garatentortaster)?"
Hi. I have a Garagentortaster (garage door button) HmIP-WGC. As it's currently not supported by the HomematicIP REST API - is there anything I can do to help getting it integrated?

[2020-11-01 20:06] coreGreenberet commented on #341
then I dont think, that this state is avaialable in the api :/
you can try to dump the configuration during heating and during "non" heating and check if there is any difference

[2020-11-01 20:08] coreGreenberet commented on #346
hi,
please create a config dump. See #114 for a howto.
But I doubt, that there is much that I can implement here as the api isn't providing any button events. :/

[2020-11-03 10:15] HansDampfwurst opened #347 "High Duty Cycle afte Update to HA 0.117.2"
## The problem

  After update Home Assistant from 0.116.4 to 0.117.2 Homematic IP Duty Cycle increase from under 20% to between 30 and 60%

## Environment

arch | armv7l
-- | --
chassis | embedded
dev | false
docker | true
docker_version | 19.03.11
hassio | true
host_os | HassOS 4.15
installation_type | Home Assistant OS
os_name | Linux
os_version | 4.19.127-v7l
python_version | 3.8.6
supervisor

[2020-11-03 13:31] coreGreenberet commented on #347
Please open an issue on https://github.com/home-assistant/core. This library just gets used by HA, but I'm not maintaining the HA compontents.

[2020-11-03 13:31] #347 closed

[2020-11-03 13:40] HansDampfwurst commented on #347
Sorry, my fault.
After power off on again HmIP-STH it seems to be fine now.
![DC-5days-12h](https://user-images.githubusercontent.com/66558871/97991778-283f8d00-1de2-11eb-9ca3-9dd630cfe85c.png)

[2020-11-03 15:21] kochmilch opened #348 "Device HmIP-DRBLI4 (Jalousieaktor/Blinds Actuator) missing?"
Hello everyone
I just had new devices installed and I was hoping that they could be easily integrated. Unfortunately they do not seem to be supported. Am I wrong? Unfortunately I'm not sure if I'm posting this one correctly either.

Is there a way to get them running?
Thanks for the support and best regards.

**HmIP-DRBLI4**, (Funk-Jalousieaktor für Hutschienenmontage, 4-fach)
HMIP-DRBLI4 (Blinds

[2020-11-03 22:13] coreGreenberet commented on #348
the attached configuration looks fine for integrating it.

[2020-11-03 22:16] coreGreenberet opened #349 "add "network scanner" to list all available APs in a network"

[2020-11-04 11:23] kochmilch commented on #348
Oh wow. That fast? Just like that? That's amazing, coreGreenberet. Thank you so much. It will make sure that the Homematic-System is accepted by the ladies of the family. Which is not so easy :D Thank you so much.

[2020-11-04 11:42] coreGreenberet commented on #348
Well i didnt integrate it yet, I've just checked the configuration:D

[2020-11-04 14:03] kochmilch commented on #348
...which I consider already to be great and amiable :) Thank you.

[2020-11-04 19:56] coreGreenberet commented on #332
It's complicated to get all "set" methods.
Do you need to modify (via api/homeassistant/..) anything else than primary & secondary shading level?

[2020-11-04 20:02] #332 closed

[2020-11-04 20:34] #341 closed

[2020-11-04 20:34] #337 closed

[2020-11-04 21:12] #335 closed

[2020-11-05 19:39] Manuel-1982 opened #352 "Warning FULL_FLUSH_CONTACT_INTERFACE_6"
Hello everyone,
I put my issue on the wrong space [here](https://github.com/home-assistant/core/issues/42766)
Thx to SukramJ for telling me I have to put it in here.

I'm not sure, but i think the Warning FULL_FLUSH_CONTACT_INTERFACE_6 is realted to the HMIP-FCI6.
It would be great if it will be included in the future.

In the appendix you find the dump file from homematicip_cloud.dump_hap_config

[2020-11-11 18:15] SpongeSeb commented on #340
Hi, Sorry ich bin neu hier und muss direkt mal fragen. Gibt es nun ein Lösung zu dem Thema?
Ich habe genau das selbe Problem das mir der Log mit dieser Meldung vollgehauen wird.

Gruss Danke

[2020-11-11 18:30] coreGreenberet commented on #340
ist in der library bereits erledigt. Im Homeassistant wird es vermutlich in der nächsten oder übernächsten version gefixt sein

[2020-11-13 13:04] gewonet opened #355 "HomematicIP HmIP-DRSI4"
Dear all,

is it  possible to use hmip-drsi4 with
[hmip-config_8DDF.json.log](https://github.com/coreGreenberet/homematicip-rest-api/files/5536875/hmip-config_8DDF.json.log)
homeassitant?

[2020-11-19 13:10] JoelKle opened #357 "[missing feature] activate absence from home permanent"
I found now way to activate the absence mode (aka. ECO mode in the HmIP app) permanent.

Currently I found only the following two functions to activate absence mode:
[code]

Output from the `hmip_cli.py` after i've enabled and set the absence mode (ECO mode) to permanent in the HmIP app.
[code]

Have a look at this  `"absenceType": "PERMANENT"`

![Screenshot_20201119-140252_2](https://user-images.

[2020-11-24 07:58] NiklasCox opened #359 "Set label for functionalChannels"
Thanks for your great work.

Is it possible to set labels for functionalChannels?

I could not find any function to do that.

Greatings

Niklas

[2020-11-29 17:19] coreGreenberet commented on #359
Sadly that's not possible (yet) =(
I can't see an endpoint which allows to rename the label of a channel

[2020-11-29 17:20] coreGreenberet commented on #348
Thanks to @SukramJ he implemented it in #361

[2020-11-29 17:20] #348 closed

[2020-11-29 17:21] coreGreenberet commented on #352
Thanks to @SukramJ he implemented it in #361

[2020-11-29 17:21] #352 closed

[2020-11-29 17:21] coreGreenberet commented on #355
Thanks to @SukramJ he implemented it in #360

[2020-11-29 17:21] #355 closed

[2020-11-30 21:01] kochmilch commented on #348
You guys are awesome!!! Thank you so much. Flawlessly working :D

[2020-12-04 14:07] #359 closed

[2020-12-15 10:33] gewonet opened #368 "Homematic IP Cloud HMIP-DRSI4"
I have an HMIP-DRSI4 with Homematic IP Cloud and would like to use it in Home Assistant.
Is it possible to integrate this din rail switch?

thx Gerhard
[hmip-config_8DDF.zip](https://github.com/coreGreenberet/homematicip-rest-api/files/5695104/hmip-config_8DDF.zip)

[2020-12-15 10:40] SukramJ commented on #368
Hi,
as you can see from the readme it is already integrated in this repo.
You need to wait until version 2021.1.0 until release in HA.

BR

[2020-12-15 11:08] gewonet commented on #368
Thank you!

[2020-12-15 12:15] SukramJ commented on #368
Please close this issue.

[2020-12-15 12:18] #368 closed

[2021-01-09 17:10] florian84z opened #372 "Fenstererkennung deaktivieren?"
Ein großes "DANKE" für diesen tollen Adapter.

Ist es möglich, die Fenster-offen-Erkennung mittels des Adapters zu deaktivieren? Ich habe über ioBroker und den Aqara Fenstersensoren dies realisiert, leider funkt mir dann aber -ab und zu- die interne Erkennung dazwischen.

[2021-01-10 21:11] coreGreenberet commented on #372
Nicht direkt, man könnte nur den Aktor aus der Heizungsgruppe vom Raum entfernen, aber das kann man auch über die APP einfach machen

[2021-01-11 21:09] oneteam2win opened #373 "Is the integration of the HMIP-DRSI1 planned?"
Is the integration of the HMIP-DRSI1 planned?
I have seen that the HMIP-DRSI4 has already been implemented.
Thanks for a feedback and great integration.

[2021-01-11 22:06] coreGreenberet commented on #373
planned is the wrong word. We can only implement devices which we have / from which we are getting a configuration.
If you have one, you could post your configuration as described in #114

[2021-01-11 22:33] oneteam2win commented on #373
Thank you very much for the quick feedback.
Hopefully you will find the information you need in the attachment.
In it you should find the information about the HmIP-DRSI1 as well as the wall switch HmIP-WRCC2.
[hmip-config_640F.txt](https://github.com/coreGreenberet/homematicip-rest-api/files/5798663/hmip-config_640F.txt)

[2021-01-13 22:34] oneteam2win commented on #373
I've seen that I need to create a GIST File. Hope this is okay now.

for the HmIP-DRSI1
https://gist.github.com/oneteam2win/4bc61dfeda9d6686d90e6fee9a9ed101

for the HmIP-WRCC2
https://gist.github.com/oneteam2win/6ddf0541ef1f4ca863b6049663dabb7c

[2021-01-14 09:28] coreGreenberet commented on #373
The gist wasn't really necessary. Many people have just posted the whole config as a comment which made the comment just too big =)

[2021-01-14 09:34] coreGreenberet commented on #373
I've just checked the files. The devices are not covered completely.

[2021-01-14 13:40] oneteam2win commented on #373
Sorry, my mistake.
I thought I only copying the part that concerns the two devices.
In the attachment now the complete excerpt.
[hmip-config_640F.txt](https://github.com/coreGreenberet/homematicip-rest-api/files/5814715/hmip-config_640F.txt)

[2021-01-16 23:00] MoonTM-GIT opened #374 "How to get device ID"
How do you get the device ID?

I just cant figure it out, I thought it was the SGTIN but that is apparently not the case.

[2021-01-17 02:53] danross commented on #374
If "device" is your device object you should call "device.id"

[2021-01-17 08:05] MoonTM-GIT commented on #374
Alright, I will try that later. Maybe I just missed this one but im so certain, that I tried so many combinations of something similar to this.

[2021-01-17 09:20] MoonTM-GIT commented on #374
Wow, that actually worked. I was so sure I tried this

Thank you very much!

[2021-01-17 09:20] #374 closed

[2021-01-17 15:15] peerkn opened #375 "new issues HMIP-SRD integration failes"
Hmip-srd is not shown in home assistant homematic-ip Integration.
[hmip-config_A72F.zip](https://github.com/coreGreenberet/homematicip-rest-api/files/5826293/hmip-config_A72F.zip)

Thank you for helping me.

[2021-01-18 12:40] coreGreenberet commented on #373
thanks that file is perfect
well you didn't copy all the required parts. You've cutted out half of the settings.

[2021-01-18 12:40] #372 closed

[2021-01-23 11:43] #375 closed

[2021-01-23 12:19] #373 closed

[2021-01-23 13:24] peerkn commented on #375
Hello,

thank you for integration!

Best regards

Peer

coreGreenberet <notifications@github.com> schrieb am Sa., 23. Jan. 2021,
12:43:

[2021-01-23 21:04] #357 closed

[2021-01-25 15:57] modi80 commented on #114
Hey, I am using Hoobs 3 since today and want to share my configuration too (a few HmIP-BWTH and a HmIP-STHO-A, both at the moment not implemented). I have just a stupid question: Where do I find hmip_cli.py in the Hoobs installation? Tim

[2021-01-25 21:01] coreGreenberet commented on #114
Sorry I don't know where you can find this in hoobs, but you can just install the library via pip (see readme) and run it from there =)

[2021-01-25 22:04] modi80 commented on #114
ok, i managed it:
https://gist.github.com/modi80/903afaf53e96b339f80f71c15600e40d

[2021-01-26 08:14] coreGreenberet commented on #114
@modi80 I've just checked it and I'm sorry, but these are already implemented. Maybe hoobs hasn't implemented it yet in their environment.

[2021-01-26 08:22] modi80 commented on #114
thanks for the fast feedback, i am getting this in the hoobs log:

25.1.2021, 23:00:08 [HomematicIP] Device not implemented: HmIP-BWTH - Wandthermostat mit Schaltausgang – für Markenschalter via type BRAND_WALL_MOUNTED_THERMOSTAT
25.1.2021, 23:00:08 [HomematicIP] Device not implemented: HmIP-BWTH - Wandthermostat mit Schaltausgang – für Markenschalter via type BRAND_WALL_MOUNTED_THERMOSTAT
25.1.20

[2021-01-26 08:40] marcsowen commented on #114
@modi80 I know this is confusing, but you are using the hombridge-homematicip plugin. If you want the device to be implemented, write an issue over here: https://github.com/marcsowen/homebridge-homematicip

[2021-01-26 17:06] #349 closed

[2021-01-26 17:07] coreGreenberet commented on #346
I'm closing this now as I didn't received  a response for almost 4 months

[2021-01-26 17:07] #346 closed

[2021-02-03 13:45] coreGreenberet opened #383 "Searching for successor"
To make long story short: I will move into a house this year and it will be powered by loxone and not hmip.
Therefore I won't be able to support this library anymore as I'm just missing the equipment.

If you are interested to maintain the library, then please get in contact with me. Either leave a comment or contact me on the discord channel

[2021-02-06 16:26] oneteam2win opened #384 "How to upgrade to version 0.13.1?"
Unfortunately, I am not very familiar with the details of HA.
I have HA installed on a Synology in Docker.
I am currently using version 2021.1.5.

@Greenberet has provided a great integration for Homematic IP and thankfully keeps adding new devices.
The latest update seems to be tag 0.13.1.
Unfortunately I have no idea how I can check which SW status of the integration I currently have nor how I g

[2021-02-08 07:49] mosterme1003 opened #385 "Setting the Heating Thermostat"
Is there a way to set the valve position or the setpoint of the heating thermostat or to implement such functions?

[2021-02-08 13:12] coreGreenberet commented on #385
Valve Position is just readonly.
You can't set the set point temperature of a single thermostat. You can set it for the whole Room/Group.
It's implemented in the hmip_cli.py with the parameter --set-point-temperature.

[2021-02-08 13:13] coreGreenberet commented on #384
I don't know if it is already in the current release of home-assistant, but 0.13.1 is already in the dev branch of HA, so it should be there with the next release.

[2021-02-08 13:13] #384 closed

[2021-02-11 13:23] skornehl opened #386 "HmIP-STE2-PCB"
Hi,

i just received my new HmIP-STE2-PCB and hope you have time to add it to your list of supported devices :)

https://gist.github.com/skornehl/a72c2dfdf7ce374e9336c3571cc8c454

Thank you! :)

[2021-02-12 20:45] slowflyer opened #387 "HmIP-DRSI4"
Hi,
I want to turn light's on and off by the API using the HomematicIP "LINKED_SWITCHING" group "Panic"
Therefore I modified api.py from the samples.
Right now I get the devices, but if the device is a DinRailSwitch4, I do not get the channel of the light used in the Panic group.
Is it currently not possible to get the channel or am I overseeing something?

[code]

Thanks,
slowflyer

[2021-02-13 14:01] coreGreenberet commented on #387
DinRailSwitch is a subclass of Switch, so the first "if isinstance(d, Switch):" will be true for a DinRailSwitch and because of your elif it will never his the other blocks.
Just reorder your blocks and put isinstance(d, Switch) als the last block

[2021-02-13 20:05] slowflyer commented on #387
Thanks for your feedback. I originally had DinRailSwitch4 first. But that did'nt make a difference. When print out my DinRailSwitch4 device object it looks like:

HmIP-DRSI4 Schaltaktor 4K1 4K2 4K3 4Kx lowBat(None) unreach(False) rssiDeviceValue(128) rssiPeerValue(-61) configPending(False) dutyCycle(False) deviceOverheated(False) devicePowerFailureDetected(False) on(None) profileMode(None) userDes

[2021-02-15 09:45] coreGreenberet commented on #387
the str method will only print the first channel of the device. The DRSI4 has 4 channels, to look it up you would have to access the correct functionalChannel

[2021-02-15 09:57] #385 closed

[2021-02-15 20:19] slowflyer commented on #387
Ok with:
`        for c in device.functionalChannels:
            if isinstance(c,MultiModeInputSwitchChannel):
                print(c.label)
                print(c.on)
                print(c.index)`

I get the channels of my DinRailSwitch4, but at this point I do not get any information if this channel belongs to the group I'm looking for.

[2021-02-19 09:32] danross opened #389 "setPointTemperatur"
Hi there,

I am facing an issue to switch the temperatur on a HeatingThermostat. Please find my code below:

[code]

However the authorizeUpdate() Does not work. The source code has the following output:
[code]

Any idea?

I also have tried to set the temperatur as a string, float and a int.

[2021-02-19 13:36] coreGreenberet commented on #389
You can't set the temperature on the device. You can only do this via group/room.
I'm doing this in the hmip_cli.py with the --set-point-temperature argument https://github.com/coreGreenberet/homematicip-rest-api/blob/8e758f310de324c4cd05901881a6d456478ea7e3/hmip_cli.py#L707

[2021-02-19 14:01] danross commented on #389
Thanks for the help :-) How do I get the HeatingGroup of a room?

[2021-02-19 17:37] #389 closed

[2021-02-22 09:48] oneteam2win opened #391 "There is no class for device 'PUSH_BUTTON_FLAT' yet"
@coreGreenberet,
Thank you again for the integration of the HMIP-DRSI1.
In my related thread #373 there was a second device,
the WRCC2 (Wall-mount Remote Control - flat), which is discussed in #380.
This should also already be recognised by the current HA.
However, I still get the following message every time I restart.
That's why I'm asking if you could check this again.
Thank you very much.

Log

[2021-02-24 19:28] LucTs opened #393 "Update Auth Token for existing integration"
Hi,

I installed the HM IP integration via the Gui, not the manual way via configuration.yaml.
How can I update the Auth Token for the existing integration? Or can I simply delete the integration and add it again?

[2021-02-25 10:10] coreGreenberet commented on #393
Are you talking about homeassistant? I'm just providing the api and not the integration itself.
@SukramJ can you answer that question?

[2021-02-25 10:34] LucTs commented on #393
My bad. Yes, talking about Home Assistant. Should have posted that question in the HA repo.

@SukramJ Would be great if you can help.

[2021-02-26 08:07] LucTs commented on #393
I simply deleted and added the integration vie the GUI

[2021-02-26 08:07] #393 closed

[2021-03-03 12:44] sircuri commented on #383
What do you mean by missing the equipment. I could try to keep this project alive, but I only have an Access Point, Heating Actuator (CH switch), 2 6 channel 230V floor heating modules and 4 thermostats (with LCD and control wheel)

How did you manage to implement all the other devices?
How did you manage to capture the possible REST endpoints?

I'm not sure if I'm the right person as Python is no

[2021-03-08 09:56] coreGreenberet commented on #383
Well since I'm changing to loxone I will sell all of my hmip stuff.

I've implemented most of the devices thanks to other people which have sent me their access point configurations see #114
In the beginning I've used an HTTPS proxy between my mobile phone and the internet. That way I could see what happens, when I've changed something.
Since this was only working for devices which I own and not f

[2021-03-18 08:08] RP70DP opened #396 "HmIP-ASIR trigger alarm"
Is it possible to trigger an alarm for the functionalhome securityandhome or the device itself?

[2021-03-18 09:18] coreGreenberet commented on #396
Sadly no =(

I've seen somewhere a workaround with HmIP-FCI1 & HmIP-PCBS.
The FCI1 was configured for security and connected to the PCBS. Then you just have to enable/disable the PCBS and the alarm would go on.

[2021-03-18 09:20] RP70DP commented on #396
Thanks!

[2021-03-18 10:09] #396 closed

[2021-03-23 21:59] steckenpferd commented on #383
@SukramJ can you not take over?

[2021-03-24 11:40] SukramJ commented on #383
@steckenpferd No, i'll also withdraw. EQ-3 has no real commitment to OSS.

[2021-03-24 14:20] FeromonDE opened #398 "'ACCESS_CONTROL' isn't a valid option for class 'FunctionalHomeType'"
Logger: homematicip.base.enums
Source: /usr/local/lib/python3.8/site-packages/homematicip/base/enums.py:33
First occurred: 15:06:14 (11 occurrences)
Last logged: 15:18:15

'ACCESS_CONTROL' isn't a valid option for class 'FunctionalHomeType'

[2021-03-25 06:44] LucTs commented on #398
[code]

I guess both errors are related to the new Homematic IP smart lock (HmIP-DLD)

[2021-03-25 21:29] silverstar2406 commented on #114
Hi folks

I have some more unsupported device. Can you implement this? It will be very helpfull. Thanks alot.

https://gist.github.com/silverstar2406/dbce8fb816ea81ca305859711d28c982

2021-03-25 22:10:10,286 - homematicip.base.enums - WARNING - 'WIRED_WALL_MOUNTED_THERMOSTAT' isn't a valid option for class 'DeviceType'
2021-03-25 22:10:10,286 - homematicip.home - WARNING - There is no class for de

[2021-03-27 22:58] Sthreejay opened #400 "New Device"
In Home Assistant only the battery value of the device shows up but instead there should be 2 temperature values. thanks in advance for your help

https://de.elv.com/elv-homematic-ip-komplettbausatz-temperatursensor-mit-externen-fuehlern-2-fach-hmip-ste2-pcb-155614

[hmip-config_6084.zip](https://github.com/coreGreenberet/homematicip-rest-api/files/6216566/hmip-config_6084.zip)

[2021-03-27 23:00] Sthreejay commented on #386
Did you manage to integrate the Device? I got mine today and in Home Assistant there is only the battery value presented.

[2021-03-28 14:09] HansDampfwurst commented on #398
Do you need a dump file from homeassistant?

[2021-04-05 14:34] #386 closed

[2021-04-05 14:48] coreGreenberet commented on #400
duplicate of #386

[2021-04-05 14:48] #400 closed

[2021-04-05 14:55] coreGreenberet commented on #391
the class mapping for aio was missing
this will be fixed in #402

[2021-04-05 15:03] coreGreenberet commented on #387
that got fixed #388 and should be in the next release

[2021-04-05 15:03] #387 closed

[2021-04-05 15:31] #391 closed

[2021-04-05 15:31] #398 closed

[2021-04-05 15:45] oneteam2win commented on #391
thanks a lot

[2021-04-05 17:30] Neisi commented on #398
Does someone have the new smart lock?
Can someone create the dump-configuration file?
Would be great if the device were supported!

[2021-04-06 18:27] wettingus opened #403 "new device TEMPERATURE_SENSOR_2_EXTERNAL_DELTA"
It would be appreciated if you could implement
TEMPERATURE_SENSOR_2_EXTERNAL_DELTA

Thanks so much

[hmip-config_6110.zip](https://github.com/coreGreenberet/homematicip-rest-api/files/6266816/hmip-config_6110.zip)

[2021-04-07 07:43] coreGreenberet commented on #403
this is already implemented in the api and got released in  [1.0.0](https://github.com/coreGreenberet/homematicip-rest-api/commit/c754d37f08adf9967f778d89f75d3e55bb01d115) 2 days ago.

[2021-04-07 07:43] #403 closed

[2021-04-11 15:45] mayrd opened #404 "Missing component HmIP-DRDI3"
Hello!
I just bought a 3 channel dimmer for fuse box installation. Would be amazing to be controllable via this library.

`3014F711A000261BE9974B7E HmIP-DRDI3 3-Dimmer lowBat(None) unreach(False) rssiDeviceValue(-64) rssiPeerValue(-69) configPending(False) dutyCycle(False) deviceOverheated(False)`

`2021-04-11 17:42:51,713 - homematicip.base.enums - WARNING - 'MULTI_MODE_INPUT_DIMMER_CHANNEL' isn'

[2021-04-11 15:47] mayrd commented on #341
Also was looking for this as it is also not in the app. I wrote to the eq-3 support and would let you know if there is an option.

[2021-04-11 17:43] coreGreenberet commented on #341
@mayrd don't get too much hope. Eq3 isn't really interested in helping 3th party apps :(

[2021-04-12 14:00] stibe881 opened #406 "New Device HMIP-DLD (Door Lock Drive)"
Hi,

i just received my new HMIP-DLD (Door Lock Drive) and hope you have time to add it to your list of supported devices :)

[2021-04-12 14:04] coreGreenberet commented on #406
Please post your hmip config as described in #114

[2021-04-12 14:09] stibe881 commented on #406
Ok. But Sorry, where i can find this config? I Have a Homematic CCU3.

[2021-04-12 14:11] coreGreenberet commented on #406
sorry this library is just for the hmip with the access point (cloud) and not with the CCU

[2021-04-13 08:51] coreGreenberet commented on #406
Yes, because the CCU is supporting also HMIP devices, but as I said. This library is just for the access point

[2021-04-16 07:12] coreGreenberet commented on #404
thanks for the pr #405

[2021-04-16 07:12] #404 closed

[2021-04-16 11:12] steckenpferd commented on #406
@stibe881

for CCU and Python you need this here:
https://github.com/danielperna84/hahomematic

[2021-04-18 06:53] wettingus commented on #406
Here is a dump with a door lock drive
[hmip-config_6110.zip](https://github.com/coreGreenberet/homematicip-rest-api/files/6330618/hmip-config_6110.zip)

[2021-04-22 20:43] rekire opened #407 "Event Callbacks?"
Sorry for this half off topic question I'm wondering if it is possible to be informed when a state or sensor has changed with this API.

To be honest I didn't check out your project yet. I was almost about to replace my silvercast bridge since I thought it has no APIs, but it seems that you even support that bridge. Really without limitations?

Can I create a callback **without polling** to get in

[2021-04-29 17:17] FlavorFx commented on #406
Please note that I got warning messages when I run the script.

`2021-04-29 19:14:13,113 - homematicip.base.enums - WARNING - 'DOOR_LOCK_DRIVE' isn't a valid option for class 'DeviceType'
2021-04-29 19:14:13,113 - homematicip.home - WARNING - There is no class for device 'DOOR_LOCK_DRIVE' yet
2021-04-29 19:14:13,115 - homematicip.base.enums - WARNING - 'ACCESS_CONTROL' isn't a valid option for cla

[2021-04-30 18:17] steckenpferd commented on #407
Yes, Silvercrest HAP-B1 is supported

Yes, callback possible but be aware:
https://github.com/iobroker-community-adapters/ioBroker.hmip/issues/206

[2021-05-04 10:07] Nihilissimis opened #408 "Got cut off from Homematic IP Cloud due to excessive polling by this integration"
Hello,

I noticed recently that my Access Point was no longer connected to the HMIP cloud. It turned out that my access was restricted due to an 'excessive amount of polls' from a python script. After killing the plugin and restarting HA. I regained access.
Please let me know if I can do anything to assist in finding the exact issue.

Thanks for building and maintaining this integration. Very much

[2021-05-04 22:41] Apollon77 commented on #408
What you did? How often you changedx values?

[2021-05-05 07:17] Nihilissimis commented on #408
Hello Ingo,

I didn’t do much that I know.
It seems a process was running wild, trying to poll every 30 seconds according to HMIP second line support. This is apparently too much and you get blocked by their DDoS protection or something.
Let me know what I can do to replicate the problem.

Vriendelijke groet / Kind regards,
Niels Mineur

-- Sent from phone

[2021-05-15 18:30] dmar29 commented on #406
Do you need another dump or something else?

[2021-05-22 17:35] web-dc opened #409 "Alarm state is not fetched anymore"
Source: /usr/local/lib/python3.8/site-packages/homematicip/home.py:415

There is no class for group 'SECURITY_ZONE' yet

##### DIVIDER ######

Source: /usr/local/lib/python3.8/site-packages/homematicip/home.py:455

There is no class for functionalHome 'SECURITY_AND_ALARM' yet

[2021-05-23 12:33] FlavorFx commented on #406
Hi, any chance to support this device soon? Can I support you in any way?

[2021-05-25 11:22] coreGreenberet commented on #406
@FlavorFx the best would be, if you could create pull request for this.
As stated in #383 I'm not really working on this library anymore.

[2021-05-26 07:35] #409 closed

[2021-06-19 20:08] Quotenjunkie opened #412 "Since Homematic IP App Update (2.7.4) Alarm Panel doesn't work properly"
Hi,

since the Update the Alarm Panel lets me activate the alarm modes (also in the Homematic IP App) but the status doesn't change.
So I am not able to see that the alarm has been set and furthermore I am not able to deactivate it.

Additionally, the HomematicIP INTERNAL SecurityZone and the HomematicIP EXTERNAL SecurityZone are unavailable.

BR

[2021-06-27 08:07] tomnissing opened #415 "[NEW DEVICE] HMIP-WGC (Garage Door Button)"
Would be cool if someone could integrate the HMIP-WGC :)
Pls let me know if i can help in any way

Here is my dump file:
[hmip-config_AB16.json.zip](https://github.com/coreGreenberet/homematicip-rest-api/files/6721236/hmip-config_AB16.json.zip)

[2021-06-27 08:08] tomnissing opened #416 "[NEW DEVICE] HMIPW-DRBL4 (Homematic IP Wired Blinds Actuator - 4x channels)"
Would be cool if someone could integrate the HMIP-DRBL4 :)
Pls let me know if i can help in any way

Here is my dump file:
[hmip-config_AB16.json.zip](https://github.com/coreGreenberet/homematicip-rest-api/files/6721238/hmip-config_AB16.json.zip)

[2021-07-10 07:15] sebastianw commented on #408
They changed something. I had this library pull stats every minute for years. Since last week it just gives errors after a while. Error 429 which basically means that you're ratelimited.

[2021-07-29 17:19] kami83 opened #418 "Got 'ACCESS_CONTROL' Warning when starting homematicip"
Hi, i always get this warning:

'ACCESS_CONTROL' isn't a valid option for class 'GroupType'
There is no class for group 'ACCESS_CONTROL' yet

BG kami

[2021-08-05 07:55] LucTs opened #419 "New Statistics Support for HM IP devices"
Please add statistics support for below mentioned HMIP devices like describe here https://www.home-assistant.io/more-info/statistics/

HmIP-STHO-A
HmIP-BWTH

(Statistics available with new HA version 2021.8.0.)

[2021-08-05 09:25] coreGreenberet commented on #419
Please Open an issue @homeassistant this library gets used by the integration, but it isn't the integration itself

[2021-08-05 09:25] #419 closed

[2021-08-16 06:35] steckenpferd commented on #412
https://github.com/coreGreenberet/homematicip-rest-api/issues/383

[2021-08-16 06:35] steckenpferd commented on #415
https://github.com/coreGreenberet/homematicip-rest-api/issues/383

[2021-08-16 06:35] steckenpferd commented on #416
https://github.com/coreGreenberet/homematicip-rest-api/issues/383

[2021-08-16 06:36] steckenpferd commented on #418
https://github.com/coreGreenberet/homematicip-rest-api/issues/383

[2021-08-18 12:04] adrianoje commented on #406
Hey, I´m also searching for the ability to add the HMIP DLD lock via the HMIP Access Point to Home Assistant (and with that to HomeKit). @coreGreenberet how can I open a pull request? Always getting the message: "Choose different branches or forks above to discuss and review changes"
Would be happy to donate some money for your coding work via paypal :-)

The doorlock is working really nicely and

[2021-09-06 09:44] K3vb3rt opened #420 "Missing HomematicIP Device HmIP-WGC"
Hello,
I miss the HmIP-WGC in my configuration. There's only the battery state.
JSON is attached.

Looking forward to hear from you :)

Thanks!

[hmip-config_9146.json.zip](https://github.com/coreGreenberet/homematicip-rest-api/files/7114945/hmip-config_9146.json.zip)

[2021-09-07 09:39] dominikoyen commented on #416
Yes, this would be beautiful!

[2021-10-31 10:18] chrko opened #423 "Dependency constraints too loose"
The specified dependencies version constraints in https://github.com/coreGreenberet/homematicip-rest-api/blob/master/setup.py and https://github.com/coreGreenberet/homematicip-rest-api/blob/master/requirements.txt are too loose and include also major releases which break some functionality, e.g. at least the websocket usage via `websocket-client` which changed the parameters of the callbacks.

Bac

[2021-11-18 21:12] Kiko0132 opened #425 "Hmip switch: turn_on event: HmipWrongStatusError(400)"
Hope someone can help: Run HA on a RPI with the homematic ip cloud integrations.

Since 2 weeks I am no longer able to turn on / off the switch. Interestingly the manuel turn on / off at the device updates the status in HA. But the turn on event in HA gives following error: HmipWrongStatusError(400) and generates this log:

Logger: homeassistant.components.websocket_api.http.connection
Source: com

[2021-11-19 15:45] Marow opened #426 "Missing HmIP-WGC"
I am using Home Assistant. I see that HmIP-WGC as Device there, but no functions of it. The functions to open/Close Garage Door is working in HomeMatic IP App but not in Home Assistant

Would be great if you can add that button function to it

Added dump
[hmip-config_2A3A.zip](https://github.com/coreGreenberet/homematicip-rest-api/files/7571328/hmip-config_2A3A.zip)

[2021-12-08 10:35] PaKi57 opened #427 "Add device HmIP-WGC"
Hi,

could you please add device HmIP-WGC to make it possible to open/close a garage door

Please find attached as requested the relevant part of the json file.

Thx a lot!

[hmip-config_HmIP-WGC_json.txt](https://github.com/coreGreenberet/homematicip-rest-api/files/7675348/hmip-config_HmIP-WGC_json.txt)

[2021-12-13 08:09] LucTs opened #428 "HA 2021.12 - loop keyword argument is deprecated"
Hi,

after updating to 2021.12 following notification can be found in the logs.
Can this be updated to prevent failing starting from version 2022.2?

Logger: homeassistant.helpers.frame
Source: helpers/frame.py:103
First occurred: 08:58:55 (3 occurrences)
Last logged: 08:58:57

    Detected integration that called async_timeout.timeout with loop keyword argument. The loop keyword argument is depre

[2021-12-16 08:59] sebastianw commented on #408
@sebamomann I currently pull data every 10 minutes and that works for now. I'm not happy about that rate so I'm considering switching to a CCU3 control module and ditching the Homematic Cloud completely.

[2021-12-16 09:14] imkerkern commented on #408
@sebastianw  I'm considering switching to a CCU3 control module and ditching the Homematic Cloud completely also, but i don't know where i have to start.  I will gladly accept hints.

[2021-12-26 16:47] simonCGN opened #429 "I get a request timeout to srv19.homematic.com"
Hi, not sure if this is the right place here.
The logs in the hoobs Homematic plugin get me:

[HomematicIP] Cannot request: url=https://srv19.homematic.com:6969/hmip/auth/connectionRequest, request="{\"deviceId\":\"foobar\",\"deviceName\":\"homebridge-homematicip\",\"sgtin\":\"foobar\"}", headers={"content-type":"application/json","accept":"application/json","VERSION":"12","CLIENTAUTH":"foobar"},

[2021-12-27 09:43] MartinKuhl commented on #427
In the ioBroker Github I found this issue: https://github.com/iobroker-community-adapters/ioBroker.hmip/issues/316
Here someone was able to sniff the API Calls between App an die Cloud services. So this command is needed to control the garage door. Maybe someone find this some kind of useful.

[2022-01-02 19:36] MartinKuhl commented on #427
the ioBroker adapter now fully support the HmIP-WGC device. Is someone able to adapt the changes there to this lib?

[2022-01-05 21:34] Vect388 opened #430 "config.ini"
When I use hmip_generate_auth_token.py the window closes when I press the blue Button. No config.ini is created but the APP says new user registered.
You can help me?

[2022-01-09 21:52] dmar29 commented on #383
Hi @coreGreenberet, maybe I can support a little here. But I would definitely have to familiarise myself with this task. I have basic knowledge of Python, Home Assistant and HomematicIP running. Can we talk about this? Thanks

[2022-01-17 16:27] cyraxx commented on #423
Adding this here so others can find it when they google the error message:

If you get errors such as `TypeError: _ws_on_message() takes 2 positional arguments but 3 were given` or `TypeError: _ws_on_error() takes 2 positional arguments but 3 were given` when running homematicip-rest-api, this is the reason.

Until this is fixed, you'll need to explicitly install an older version of the websocket-

[2022-01-18 21:39] SmartHomeFanatic opened #431 "Add HmIP-DLS door lock sensor"
Hi there!

It would be very good to have the HmIP-DLS door lock sensor available in Home Assistant.

Thanks
[hmip-config_C152.txt](https://github.com/coreGreenberet/homematicip-rest-api/files/7892529/hmip-config_C152.txt)
!

[2022-01-22 20:04] LucTs commented on #428
@coreGreenberet I know you are not actively working/developing the homematic IP rest API but would you mind look into this issue? I guess a lot of users using Home Assistant with Homematic IP would highly appreciate if the integration remains working with release 2022.2

Many thanks!

[2022-01-28 11:16] rhoegen commented on #383
Same here, I probably don't have the time to take over the whole library, but can contribute new devices if I roughly know what to do.

[2022-01-28 12:23] mfrawley commented on #428
Fixed in https://github.com/coreGreenberet/homematicip-rest-api/pull/424 or?

[2022-01-28 12:29] mfrawley commented on #408
@sebastianw how did you configure it to pull data only every so often? Did you write a custom script or fork the project?

[2022-01-31 06:45] LucTs commented on #428
Hi @mfrawley,

yes looks like but I think a new release is required? See comment from Home Assistant colleagues: https://github.com/home-assistant/core/issues/65066#issuecomment-1025381208

[2022-01-31 10:21] coreGreenberet commented on #428
I will push a new release this week. That should solve it.

[2022-02-03 12:09] coreGreenberet commented on #383
basically adding a new device is based on these steps

* add the value in the enums in [/homematicip/base/enums.py](https://github.com/coreGreenberet/homematicip-rest-api/blob/master/homematicip/base/enums.py)
* create the correct classes (Async & legacy/request based)  [/homematicip/device.py](https://github.com/coreGreenberet/homematicip-rest-api/blob/master/homematicip/device.py) & [/homematici

[2022-02-03 12:14] coreGreenberet commented on #428
released in https://github.com/coreGreenberet/homematicip-rest-api/commit/a60126747a36df6a1710dabaeb5ec1f84b682b66

[2022-02-03 12:14] #428 closed

[2022-02-07 16:26] PaKi57 commented on #427
Is there anybody so Kind and able to do this for HomeAssistant?

[2022-02-16 12:03] Maxi2509 opened #435 "Add HmIP-STE2-PCB - Temperature sensor with two resistor elements"
Hi,

today i noticed that my temperature sensor with two resistor elements is not yet supported by this integration. i wanted to ask if this could be done in next revision. i added you my Homematic ip config file

Especially i am asking for HmIP-STE2-PCB
As today i only receive the battery status for this unit.  below i have added you a picture of this device.

If you need any further information

[2022-02-22 21:28] I3astel opened #436 "Implement HmIPW-DRS4"
Please implement Homematic IP Wired Switch Actuator - 4 channels: HmIPW-DRS 4

[hmip-config_YYYY.zip](https://github.com/coreGreenberet/homematicip-rest-api/files/8120302/hmip-config_YYYY.zip)

[2022-03-04 15:24] sebastianw commented on #408
@mfrawley The library itself only pulls data when you call `.get_current_state()` on the `Home()` instance. I increased the time in my tool to call this only every 10 minutes.

[2022-03-04 19:14] kaitomalik commented on #435
Same here,
WARNING (MainThread) [homematicip.device] There is no class for functionalChannel 'TEMPERATURE_SENSOR_2_EXTERNAL_DELTA_CHANNEL' yet

Thanks,
Kai

[2022-03-06 20:50] #407 closed

[2022-03-06 20:50] coreGreenberet commented on #423
fixed in pr #437

[2022-03-06 20:50] #423 closed

[2022-03-11 07:16] illiumst opened #438 "Add HMIP-eTRV-E"
Hi,

I noticed that my thermostat (HMIP eTRV EVO) is not yet supported by this integration.

Here is my config dump as defined in the wiki:
[hmip-config_0698.txt](https://github.com/coreGreenberet/homematicip-rest-api/files/8229855/hmip-config_0698.txt)

If you need any further information please let me know.

Best regards

[2022-03-20 10:31] thecem commented on #281
Too bad! Nothing new in dump!

[2022-04-18 10:01] MaierA19 opened #439 "HMIP-STE2-PCB"
Hello,

I have the HMIP-STE2_PCB from Homematic IP and I can only see the battery status in Hassio. Can you look at the configuration and try to make the temperature values ​​visible in Hassio?

The Name of the Labels are here:

"label": "",
                    "temperatureExternalDelta": 21.6,
                    "temperatureExternalOne": 3.4,
                    "temperatureExternalTwo": -18.2